@use "../../../styles/index.scss" as *;

.container {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  width: fit-content;
}

.containerInner {
  background-color: transparent;
  color: $Khaki;
}

.title {
  font-size: 1rem !important;
}

.carbonCount {
  padding: 0.5rem;

  a {
    font-size: 1rem !important;
    text-transform: none !important;
  }
}