@use 'variables' as *;

* {
    margin: 0;
    padding: 0;
    &:is(&::after, &::before, *) {
      box-sizing: border-box;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: $text-color;
}

html {
    scroll-behavior: smooth;
}