@use 'variables' as *;

@mixin cross-browser-transition-support-set {
    transition:             $transition-03;
    -webkit-transition:     $transition-03;
    -o-transition:          $transition-03;
    -moz-transition:        $transition-03;
}