/****** COLORS ******/

$background-color: #000;
$text-color: #ccc;

$btn-color: #1e1e1e;
$btn-color-hover: #545454;

/****** POSITIONING ******/

$flex-display: flex;
$absolute-position: absolute;
$relative-position: relative;

/****** TRANSITIONS & ANIMATIONS ******/

$transition-03: all 0.3s ease-in-out;