#custom-css {
  background-image: url("/placeholder.png");
  font-family: monospace;
}

#custom-css::after {
  content: "custom-css";
}

* {
  padding: .125rem;
}

.collapsible__header-wrap {
  width: min-content;
}