#custom-css {
  background-image: url("/placeholder.png");
  font-family: monospace;
}

#custom-css::after {
  content: "custom-css";
}

* {
  font-size: revert;
  padding: .125rem;
  ;
}

.collapsible__header-wrap {
  width: min-content;
}

span,
a,
button {
  font-family: Arial, Helvetica, sans-serif
}