.RichText {
  max-width: 485px;
  width: 100%;
  display: block;
  margin-left: auto;
  height: 100dvh;
  display: flex;
  align-items: center;
  > p {
    font-family: 'Cardillac';
    text-align: justify;
    font-size: 42px;
    text-transform: uppercase;
    line-height: normal;
    > span {
      text-transform: none !important;
      font-family: 'Newsreader';
      font-size: 48px;
    }
  }
}