@use "../../../styles/index.scss" as *;

.footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.9375rem;
  height: 100%;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 120rem;
  padding: 7.5rem .625rem .625rem .625rem;
  position: relative;
  width: 100%;


  @include queries(md) {
    text-align: center;
  }
}

.name {
  @include h2;
}

.footerLeftContent {
  align-items: flex-end;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @include queries(md) {
    grid-template-columns: 1fr;
  }
}

.footerBottom {
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;

  @include queries(md) {
    align-items: center;
  }
}

.copyright {
  color: $Argent;

  p {
    font-size: 1rem !important;
    text-transform: capitalize !important;
  }
}

.footerUl {
  flex: 1;
  list-style-type: none;

  @media only screen and (width <=48rem) {
    display: flex;
    flex-direction: column;
    gap: .625rem;
    justify-content: center;
    text-align: center;
  }
}

.footerLi {
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;
  justify-content: center;
  text-decoration: none;
}

.footerLogo {
  bottom: 0;
  position: absolute;
  right: 0;
}

.footerLinks {
  display: flex;
  gap: .9375rem;
  justify-content: center;
  max-width: 28.75rem;
  width: 100%;
  ;
}