@use "../../../styles/index.scss" as *;

.footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.9375rem;
  height: 100%;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 120rem;
  padding: 27.1875rem 0;
  position: relative;
  width: 100%;
}

.copyright {
  bottom: 2.5rem;
  color: $Argent;
  font-family: Cardillac, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  position: absolute;
  text-transform: uppercase
}

.footerUl {
  flex: 1;
  list-style-type: none;
}

.footerLi {
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;
  justify-content: center;
  text-decoration: none;
}

.footerLink {
  color: $Argent;
  font-family: Cardillac, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
}

.footerLogo {
  bottom: 0;
  position: absolute;
  right: 0;
}

.footerLinks {
  display: flex;
  gap: .9375rem;
  justify-content: center;
  max-width: 28.75rem;
  width: 100%;
  ;
}