@use "../../../styles/index.scss" as *;

.title {
  margin-bottom: 16.25rem;

  @media only screen and (width <=37.5rem) {
    margin-bottom: 8.125rem;
  }
}

.container {
  overflow: hidden;
  position: relative;
}

.logo {
  opacity: 0.05;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(20%, -20%);
}

.projectTitle {
  text-align: right;
}

.image {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.imageContainer {
  height: 100%;
  width: 100%;
}

.projectContainer {
  align-items: flex-end;
  display: grid;
  gap: 1.25rem;
  grid-template-columns: 1fr 1fr;

  @include queries(md) {
    grid-template-columns: 1fr;
  }
}

.grid {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  position: relative;
  z-index: 5;
}

.info {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1.875rem;
  justify-content: flex-end;
}