@use "../../../styles/index.scss" as *;

.title {
  margin-bottom: 16.25rem;

  @media only screen and (width <=37.5rem) {
    margin-bottom: 8.125rem;
  }
}

.projectTitle {
  @include subtitle;
}

.image {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.imageContainer {
  height: 100%;
  width: 100%;
}

.projectContainer {
  display: flex;
  flex-direction: column;
  gap: .625rem;
}

.grid {
  display: grid;
  gap: 2.5rem;
  grid-template-columns: repeat(auto-fill, minmax(31.25rem, 1fr));

  @media only screen and (width <=37.5rem) {
    grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
  }
}

.info {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1.875rem;
  justify-content: flex-end;
}