@use "../../../styles/index.scss" as *;

.RichText {
  align-items: center;
  display: flex;
  height: 100dvh;
  margin-left: auto;
  max-width: 30.3125rem;
  width: 100%;

  >p {
    font-family: Cardillac, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2.625rem;
    line-height: normal;
    text-align: justify;
    text-transform: uppercase;

    >span {
      font-family: Newsreader, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-size: 3rem;
      text-transform: none !important;
    }
  }
}

.RichTextContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: .625rem;
  height: 100dvh;
  margin-left: auto;
  max-width: 30.3125rem;
  width: 100%;
}

.RichTextSpan {
  color: $Argent;
  font-family: Newsreader, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 3rem;
  text-transform: lowercase !important;
}

.RichTextParagraph {
  color: $Argent;
  font-family: Cardillac, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 2.625rem;
  line-height: normal;
  text-align: justify;
  text-transform: uppercase;
}