@use "../../../styles/index.scss" as *;

.RichText {
  display: flex;
  font-weight: 200;
  @include body;

  >p {
    font-size: 2.625rem;
    line-height: normal;
    text-align: justify;

    >span {
      font-size: 3rem;
      text-transform: none !important;
    }
  }
}

.RichTextContainer {
  display: flex;
  flex-direction: column;
  gap: .625rem;
  margin-left: auto;
  width: 100%;

  @media only screen and (width <=48rem) {
    height: auto;
  }
}

.RichTextSpan {
  color: $Argent;
  font-size: clamp(1.5rem, 1.275rem + 1.125vw, 2.625rem);
}

.RichTextParagraph {
  color: $Argent;
  font-size: clamp(1.5rem, 1.275rem + 1.125vw, 2.625rem);
  line-height: normal;
  text-align: justify;
}