@use "../../../styles/index.scss" as *;

.ul {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media only screen and (max-width: 48rem) {
    justify-content: center;
  }
}

.li {
  color: $Argent;
  font-family: Cardillac, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 2.25rem;
  font-weight: 300;
  text-transform: uppercase;
}

.separator {
  background-color: $Khaki;
  border-radius: 50%;
  height: .3125rem;
  width: .3125rem;
}