.imageContainer {
  height: calc(100dvh - 3.75rem);
  margin-bottom: 1.25rem;
  padding-bottom: .625rem;
  width: 100%;
}

.image {
  height: 100%;
  object-fit: contain;
  width: 100%;
}

.title {
  text-align: center;
}

.stacksList {
  margin-bottom: 4.6875rem;

  @media only screen and (width <=48rem) {
    margin-bottom: 1.25rem;
  }
}

.arrowDown {
  height: 22.25rem;
  margin: 0 auto;
  width: 100%;

  @media only screen and (width <=48rem) {
    height: 9.375rem;
  }
}

.titleImageContainer {
  height: 100%;
  margin-bottom: 2.5rem;
  width: 100%;
}

.titleImage {
  height: 100%;
  object-fit: contain;
  width: 100%;
}