@use '../../../../styles/index.scss' as *;
@use 'sass:color';

.imageContainer {
  height: 50%;
  width: 100%;
}

.image {
  height: 100%;
  object-fit: contain;
  width: 100%;
}

.pageHeader {
  align-items: flex-end;
  display: grid;
  gap: 1.25rem;
  grid-template-columns: 1fr 1fr;

  @include queries(md) {
    grid-template-columns: 1fr;
  }
}

.descriptionContainer {
  background-color: color.adjust($SmokyBlack, $lightness: 1%);
  display: grid;
  gap: 1.25rem;
  grid-template-columns: 1fr 1fr;
  padding: 1.25rem 0;

  @include queries(md) {
    grid-template-columns: 1fr;
  }
}

.stacksList {
  margin-bottom: 4.6875rem;

  @media only screen and (width <=48rem) {
    margin-bottom: 1.25rem;
  }
}

.arrowDown {
  height: 22.25rem;
  margin: 0 auto;
  width: 100%;

  @media only screen and (width <=48rem) {
    height: 9.375rem;
  }
}

.titleImageContainer {
  height: 100%;
  margin-bottom: 2.5rem;
  width: 100%;
}

.titleImage {
  height: 100%;
  object-fit: contain;
  width: 100%;
}