@use "../../../styles/index.scss" as *;

.homePageSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
  z-index: 5;

  .homePageImage {
    height: 100%;
    object-fit: contain;
    position: relative;
    width: 100%;
    z-index: 10;

    @include queries(sm) {
      visibility: hidden;
    }
  }

  @include queries(sm) {
    height: 100%;
    justify-content: space-between;
  }
}

.headerContainer {
  align-items: flex-end;
  display: flex;
  height: calc(100dvh - 5rem);
  margin-bottom: 2rem;
  position: relative;

  @include queries(sm) {
    grid-template-columns: 1fr;
    margin-bottom: 0;
    width: 100%;

    h1 {
      visibility: hidden;
    }
  }
}

.headerImageContainer {   
  height: 100%;
  position: relative;
  width: 100%;
}

.headerImage {
  height: 100%;
  object-fit: cover;
  width: 100%;

  @include queries(sm) {
    object-fit: cover;
    opacity: 0.75;
  }
}

.linksContainer {
  display: none;
  flex-direction: column;
  position: absolute;
  a {
    align-items: center;
    display: flex;
  }
  
  @include queries(sm) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 50%;
    width: 100%;
    z-index: 10;
  }
}

.logo{
  left: 50%;
  opacity: 0.02;
  position: absolute;
  transform: translateX(-50%);
  z-index: -1;

  @include queries(sm) {
    display: none;
  }
}