@use "../../../styles/index.scss" as *;

.homePageSection {
  display: flex;
  flex-direction: column;
  gap: 3.4375rem;
  height: calc(100dvh - 5.75rem);
  justify-content: center;
  width: 100%;

  .homePageImage {
    height: 100%;
    object-fit: contain;
    width: 100%;
  }
}