@use "../../../styles/index.scss" as *;

.ProjectsTitle {
  display: flex;
  height: calc(100dvh - 4.8125rem);
  justify-content: center;

  h1 {
    @include HeadingOne;
    justify-content: center;
  }
}