@use "../mixins/index.module.scss" as *;
@use "../colors/index.module.scss" as *;

html {
  background-color: $SmokyBlack;
}

::-webkit-scrollbar {
  width: .625rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: .625rem;
}

::-webkit-scrollbar-thumb {
  background-color: #1d1d1d;
  border-radius: .625rem;
}

.sr-only {
  border-width: 0;
  clip: rect(0, 0, 0, 0);
  height: .0625rem;
  margin: -0.0625rem;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: .0625rem;
}

h1 {
  @include h1;
}

h2 {
  @include h2;
}

h3 {
  @include h3;
}

p,
span,
ul,
ol,
li {
  color: $Argent;
  font-size: 1.125rem;
  line-height: 1.2;
  @include body;
}

a {
  color: colors(khaki);
  font-size: 1.125rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: color .3s;
  @include body;

  &:hover {
    color: colors(argent);
    transition: color .3s;
  }
}