@import     'src/_partials/typography',
            'src/_partials/variables';

/* NAV BAR TOGGLE BUTTON */

#nav-bar-btn {
    position: absolute;
    top: 25px;
    right: 25px;
    z-index: 2;
    display: flex;
    width: 20px;
    height: 20px;
    span {
        width: 20px;
        height: 2px;
        background-color: #f5f5f5;
        display: flex;
        position: absolute;
        transition: $transition-03;
        &:nth-child(1) {
            top: 30%;
        }
        &:nth-child(2) {
            top: 60%;
        }
        &:nth-child(3) {
            top: 90%;
        }
    }
    &.is-active span {
        background-color: #f5f5f5;
        &:nth-child(1) {
            top: 50%;
            transform: rotate(-45deg);
            background-color: $main-color-03;
        }
        &:nth-child(2) {
            top: 50%;
            opacity: 0;
        }
        &:nth-child(3) {
            top: 50%;
            transform: rotate(45deg);
            background-color: $main-color-03;
        }
    }
}

/* NAV MENU */

#nav-menu {
    background-color: $background-color;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 100px;
    z-index: 1;
    transition: $transition-05;
    opacity: 0;
    visibility: hidden;
    &.is-active {
        display: flex;
        justify-content: center;
        opacity: 1;
        visibility: visible;
    }
    #menu_list {
        align-items: center;
        display: flex;
        flex-direction: column;
        list-style-type: none;
        .menu_item:not(:last-child) {
            margin-bottom: 30px;
        }
        .menu_item > .menu_link {
            position: relative;
            display: inline-flex;
            font-size: 28px;
            color: $main-color-01;
            text-transform: uppercase;
            text-decoration: none;
            transition: $transition-03;
            &:hover {
                color: $main-color-02;
                transition: $transition-03;
            }
            &:after {
                content: '';
                position: absolute;
                bottom: -10px;
                left: 0;
                width: 0;
                height: 1px;
                display: inline-flex;
                background: $main-color-03;
                transition: $transition-03;
            }
            &:hover:after {
                width: 75%;
            }
            span.angle-line {
                transition: $transition-03;
                &:hover {
                    rotate: 90deg;
                }
            }
        }
    }
}

.menu_link a {
    animation: slideIn 2s forward;
}

@keyframes slideIn {
    0% {
        transform: translateX(-900px);
    }
    100% {
        transform: translateX(0);
    }
}

/* RESPONSIVE */

@media (max-width: 560px) {
    body {
        text-align: center !important;
        #nav-menu.is-active {
            justify-content: center;
        }
    }
}