/******** IMPORT PARTIAL STYLESHEETS ********/

@import 'src/_partials/globals',
        'src/_partials/mixins',
        'src/_partials/responsive',
        'src/_partials/typography',
        'src/_partials/variables';

/******** MAIN STYLING ********/

body {
    opacity: 0;
    transition: opacity 2s;
}

.container {
    #home-page {
        position: $absolute-position;
        width: calc(100% - 15rem);
        height: calc(100vh - 4rem);
        top: 4rem;
        z-index: -1;
        #home-page-title-info {
            width: fit-content;
            padding: 1.875rem 3.75rem;
            .typed-out {
                overflow: hidden;
                border-right: 0.15em solid $main-color-03;
                font-size: 1.6rem;
                width: 0;
                white-space: nowrap;
                animation: 
                    typing-effect 3s steps(1200, end) forwards,
                    blinking-effect 1s infinite;
                /*animation-delay: 1.5s;*/
            }
            #home-page-title-separator {
                margin-bottom: 0.75rem;
                background: $main-color-03;
                border: none;
                height: 0.1rem;
                width: calc(100% - 75rem);
                }
        }
    }
    #owner-bio {
        display: none;
        position: $absolute-position;
        right: 20px;
        background: #000;
        width: 200px;
        height: 200px;
        top: 10rem;
        right: 0;
    }
    .stack-snapshot {
        position: $absolute-position;
        width: 500px;
        left: calc(100% - 300px);
        bottom: 218px;
        #stacks-separator {
            background: $main-color-03;
            border: none;
            height: 0.1rem;
            width: 40%;
        }
        .stacks-list {
            list-style-type: none;
            display: $flex-display;
            li {
                position: $relative-position;
                top: 15px;
            }
            a {
                padding-inline: 10px;
            }
        }
        p {
            font-size: 21px;
            padding-bottom: 10px;
        }
    }
}

.mode-toggle {
    position: absolute;
    right: 30px;
    height: 50px;
    background: red;
    min-width: 45px;
    cursor: pointer;
    .switch {
        position: relative;
        display: inline-block;
        border-radius: 25px;
        height: 22px;
        width: 40px;
    }
}

/******** KEYFRAMES ********/

@keyframes blinking-effect {
    from {
        border-color: transparent;
    }
    to {
        border-color: $main-color-03;
    }
}

@keyframes typing-effect {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}