.visuallyHidden {
  border-width: 0;
  clip: rect(0, 0, 0, 0);
  height: .0625rem;
  margin: -0.0625rem;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: .0625rem;
}