.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.splideSlide {
  height: 100%;
  width: 100%;
}

.image {
  height: 80dvh;
  object-fit: cover;
  width: 100%;

  @media (width <=48rem) {
    height: 50dvh;
    object-fit: contain;
  }
}