@use '../variables' as *;
@use '../mixins' as *;


.AboutSection {
    height: calc(100vh - 152px);
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    > * {
        display: flex;
    }
    .PageHeaderTitle {
        flex-direction: column;
        @include HeadingOneTitle;
    }
    .AboutContent {
        gap: 20px;
        > * {
            display: flex;
        }
        flex-direction: column;
        justify-content: flex-start;
        #DesignSkills {
            justify-content: center;
            text-align: center;
        }
        #TechSkills {
            justify-content: space-between;
            text-align: center;
        }
        .ExperienceList {
            gap: 25px;
            font-family: 'Questa Grande', sans-serif;
            font-size: clamp(1.125rem, 1.0179rem + 0.5357vw, 1.5rem);        text-align: left;
        }
        /* .FirstLetterAccent {
            @include HeadingTwoAccentLetter;
        } */
        .AboutText {
            font-family: 'Switzer', sans-serif;
        }
    }
}

/* .AboutSection {
    position: absolute;
    top: 370px;
    flex-direction: column;
    gap: 20px;
    .AboutText {
        @include BodyText;
    }
    .PageSubTitleText {
        font-family: 'Questa Grande', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
        line-height: 60px;
        text-transform: uppercase;
    }
    #AboutPageTitle2 {
        text-align: right;
    }
} */