@use '../variables' as *;
@use '../mixins' as *;

.AboutCover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 92px);
    .PageHeaderTitle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: 'Questa Grande', serif;
        font-style: italic;
        font-weight: 400;
        font-size: clamp(2.875rem, 0.125rem + 13.75vw, 12.5rem);
        text-align: center;
        text-transform: uppercase;
        color: $Argent;
    }
}
.AboutSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    > * {
        display: flex;
    }
    
    .AboutContent {
        gap: 20px;
        flex-direction: column;
        justify-content: flex-start;
        #DesignSkills {
            justify-content: center;
            text-align: center;
        }
        #TechSkills {
            justify-content: space-between;
            text-align: center;
        }
        .ExperienceList {
            display: flex;
            justify-content: flex-start;
            gap: 25px;
            font-family: 'Questa Grande', sans-serif;
            font-size: clamp(1.125rem, 1.0179rem + 0.5357vw, 1.5rem);        text-align: left;
            text-transform: uppercase;
        }
        .AboutText {
            font-family: 'Anaheim', sans-serif;
            font-size: clamp(1rem, 0.9108rem + 0.446vw, 1.3125rem);
            text-transform: uppercase;
            text-align: justify;
        }
        .AboutExperience {
            display: flex;
            flex-direction: column;
            gap: 10px;
            border-top: 1px solid $Argent;
            padding-bottom: 10px;
            h3 {
                font-family: 'Questa Grande', serif;
                font-style: normal;
                font-weight: 400;
                font-size: clamp(1.5rem, 0.7864rem + 3.5682vw, 4rem);
                text-transform: uppercase;
                color: $Argent;
            }
            .ExperienceContainer {
                display: grid;
                grid-template-columns: repeat(auto-fit,minmax(265px,1fr));
                gap: 10px;
                .ExperienceSection {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    padding: 10px;
                    font-family: 'Anaheim', serif;
                    text-transform: uppercase;
                    text-align: justify;
                    color: $Argent;
                    border: 1px solid $Khaki;
                    border-radius: $ImgBorderRadius;
                    .ExperienceDate {
                        font-family: 'Anaheim', sans-serif;
                        font-size: 21px;
                        padding-left: 5px;
                    }
                    .ExperienceTitle {
                        border: 1px solid $Khaki;
                        border-radius: 40px;
                        font-size: 18px;
                        padding: 10px 14px;
                        background-color: $Khaki;
                        color: $Black;
                        text-align: left;
                    }
                    .ExperienceInfo {
                        .ListDot {
                            display: flex;
                            width: 5px;
                            height: 5px;
                            background-color: $Argent;
                            border-radius: 50%;
                        }
                    }
                    
                    ul {
                        padding-left: 20px;
                    }
                    .ExperienceSkills {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 10px;
                        span {
                            padding: 10px;
                            border: 1px solid $Khaki;
                            border-radius: 40px;;
                        }
                    }
                }
                .WorkLinks {
                    display: flex;
                    border: 1px solid $Khaki;
                    outline: none;
                    width: min-content;
                    border-radius: 40px;
                    padding: 5px 10px;
                    font-family: "Anaheim", serif;
                    text-transform: uppercase;
                    text-decoration: none;
                    color: $SmokyBlack;
                    background-color: $Khaki;
                    transition: all 0.3s ease-in;
                    cursor: none;
                    &:hover {
                        background-color: transparent;
                        border: 1px solid $Khaki;
                        color: $Khaki;
                        -webkit-transition: all 0.3s ease-in;
                        transition: all 0.3s ease-in;
                    }
                }
            }
        }
    }
}