@use '../variables' as *;
@use '../mixins' as *;

.AdditionalServicesCover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 92px);
    .PageHeaderTitle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: 'Questa Grande', serif;
        font-style: italic;
        font-weight: 400;
        font-size: clamp(2.875rem, 0.125rem + 13.75vw, 12.5rem);
        text-align: center;
        text-transform: uppercase;
        color: $Argent;
    }
}

.AdditionalServicesSection {
    align-items: center;
}

.AdditionalServicesSection {
    flex-direction: column;
    gap: 30px;
    h3 {
        font-family: 'Questa Grande', serif;
        font-weight: 400;
        text-transform: uppercase;
        padding-bottom: 10px;
    }
}
.AdditionalServicesSection .AdditionalServicesContent {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(225px,1fr));
    gap: 10px;
    h2 {
        font-family: 'Questa Grande', serif;
        font-weight: 400;
        text-transform: uppercase;
        border-bottom: 1px solid $Argent;
    }
    li {
        list-style-type: none;
        @include BodyText;
    }
    div {
        display: flex;
        flex-direction: column;
        gap: 10px;
        border: 1px solid $Khaki;
        border-radius: 10px;
        padding: 10px;
    }
}