@use '../mixins' as *;
@use '../variables' as *;

#HeaderPosition {
    position: absolute;
    width: 100%;
}

.BrandProject {
    display: flex;
    flex-direction: column;
    > * {
        display: flex;
    }
    .BrandProjectCover {
        flex-direction: column;
        padding-top: 80px;
        .BrandHeroMockup {
            position: relative;
            transform: translateY(-25%);
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .BrandContentSection {
        flex-direction: column;
        .About {
            display: flex;
            // border-bottom: 1px solid $RaisinBlack-03;
            .AboutHeadline {
                font-family: 'Questa Grande', serif;
                font-style: italic;
                font-weight: 400;
                font-size: clamp(4.25rem, -9.5rem + 24.4444vw, 12.5rem);
                text-transform: uppercase;
                color: $RaisinBlack-03;
            }
            .AboutRightContent {
                display: flex;
                flex-direction: column;
                gap: 15px;
                .AboutSubLine {
                    @include HeadingThreeProject;
                }
                .ProjectTimeline {
                    font-size: 18px;
                    text-transform: uppercase;
                    font-weight: 600;
                    font-family: "Switzer", sans-serif;
                }
                .AboutSummary {
                    text-transform: uppercase;
                    @include BodyText;
                }
            }
        }
        .Typefaces {
            flex-direction: column;
        }
        .StacksAndTools,
        .Mockups,
        .Branding,
        .DesignApproach,
        .Typefaces {
            @extend .About;
            .StacksAndToolsHeadline, .MockupsHeadline, .BrandingHeadline, .DesignHeadline, .TypefaceHeadline {
                @extend .AboutHeadline;
            }
            .StacksAndToolsSummary {
                @include HeadingThreeProject;
            }
            .BrandingSubLine {
                @include HeadingThreeProject;
            }
        }
        .Mockups {
            height: 100%;
            width: 100%;
            flex-direction: column;
            .MockupImages {
                display: flex;
                height: 100%;
                width: 100%;
                object-fit: contain;
                > * {
                    display: flex;
                }
                .MockupTable {
                    flex-direction: column;
                    .MockupImageRow {
                        display: flex;
                        flex-direction: column;
                        .MockupImage {
                            display: flex;
                        }
                    }
                }
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: contain;
                }
            }
        }
        .Grids {
            @extend .About;
            flex-direction: column;
            .GridsHeadline {
                @extend .AboutHeadline;
            }
            .GridContainer {
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                gap: 10px;
                .GridCol {
                    p {
                        @include BodyText;
                    }
                    img {
                    width: 100%;
                    height: 150px;
                    }
                }
            }
        }
        .BrandingRightContent {
            @extend .AboutRightContent;
        }
        .DesignSummary {
            text-transform: uppercase;
            @include BodyText;
        }
    }
}

.ProjectLinks {
    background-color: #222222a1;
    position: fixed;
    right: 15px;
    top: 50%;
    padding: 10px;
    border-radius: 20px;
    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        list-style-type: none;
    }
    a {
        cursor: none;
        color: #ccc;
        transition: 0.3s all ease;
        &:hover {
            background: black;
            padding: 5px;
            display: flex;
            border-radius: 50%;
            transition: 0.3s all ease;
        }
    }
}

.Typefaces {
    justify-content: space-between;
    .Typeface {
        font-size: clamp(4.25rem, -9.5rem + 24.4444vw, 12.5rem);
    }
    #BrandTypeface {
        font-family: 'Inter', sans-serif;
    }
    .TypefaceSet {
        display: flex;
        justify-content: space-between;
        gap: 50px;
        ul {
            display: flex;
            flex-direction: column;
            gap: 20px;
            list-style-type: none;
            font-family: 'Inter', sans-serif;
            font-size: clamp(1rem, -0.5625rem + 5vw, 2.25rem);
        }
        .TypefaceExamples {
            li {
                display: flex;
                gap: 20px;
                span:nth-child(2) {
                    font-style: italic;
                }
            }
        }
    }
}

.BrandGuideSection {
    display: flex;
    > * {
        display: flex;
    }
    .BrandGuideInfo {
        flex-direction: column;
        gap: 15px;
        .LogoMarks {
            display: flex;
            flex-direction: column;
            background-color: #d3d3d3;
            padding: 5px;
            width: 200px;
            .BrandProjectLogo,
            .BrandProjectIcon {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .Typography {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            > * {
                display: flex;
            }
            .TypographyInfo {
                flex-direction: column;
                gap: 5px;
                p {
                    &:first-child, &:nth-child(3) {
                        font-family: 'Switzer', sans-serif;
                        font-weight: 600;
                        font-size: 12px;
                        text-transform: uppercase;
                        border-bottom: 1px solid black;
                        padding: 5px 0;
                    }
                    &:nth-child(2), &:nth-child(4) {
                        font-family: 'Inter', sans-serif;
                    }
                }
            }
            .TypographyStyles {
                flex-direction: column;
                gap: 5px;
                .WeightsTitle {
                    font-family: "Switzer", sans-serif;
                    font-weight: 600;
                    font-size: 12px;
                    text-transform: uppercase;
                    border-bottom: 1px solid black;
                    padding: 5px 0;
                }
                .TypographyList {
                    display: flex;
                    gap: 30px;
                    list-style-type: none;
                    .TypographyWeightSet, .TypographyFontSet {
                        display: flex;
                        flex-direction: column;
                        gap: 5px;
                    }
                }
            }
        }
    }
}

@media only screen and (width <= 768px) {
    .BrandContentSection {
        gap: 25px;
    }
    .About,
    .StacksAndTools,
    .Mockups,
    .DesignApproach,
    .Branding {
        flex-direction: column;
        align-items: flex-start !important;
        gap: 50px;
    }
}

@media only screen and (769px <= width) {
    .BrandContentSection {
        gap: 250px;
    }
    .About,
    .StacksAndTools,
    .Mockups,
    .DesignApproach,
    .Branding {
        gap: 125px;
    }
}

$BrandWeights: (weight1: 400, weight2: 500, weight3: 600, weight4: 700, weight5: 900);

@each $key, $weight in $BrandWeights {
    #BrandTypography-#{ $weight } { font-weight: $weight; }
};