@use '../variables' as *;

.BrandGuideSection {
    display: flex;
    > * {
        display: flex;
    }
    .BrandGuideInfo {
        flex-direction: column;
        gap: 15px;
        .LogoMarks {
            display: flex;
            flex-direction: column;
            background-color: #d3d3d3;
            padding: 5px;
            width: 200px;
            .BrandProjectLogo,
            .BrandProjectIcon {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .Typography {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            > * {
                display: flex;
            }
            .TypographyInfo {
                flex-direction: column;
                gap: 5px;
                p {
                    &:first-child, &:nth-child(3) {
                        font-family: 'Switzer', sans-serif;
                        font-weight: 600;
                        font-size: 12px;
                        text-transform: uppercase;
                        border-bottom: 1px solid black;
                        padding: 5px 0;
                    }
                    &:nth-child(2), &:nth-child(4) {
                        font-family: 'Inter', sans-serif;
                    }
                }
            }
            .TypographyStyles {
                flex-direction: column;
                gap: 5px;
                .WeightsTitle {
                    font-family: "Switzer", sans-serif;
                    font-weight: 600;
                    font-size: 12px;
                    text-transform: uppercase;
                    border-bottom: 1px solid black;
                    padding: 5px 0;
                }
                .TypographyList {
                    display: flex;
                    gap: 30px;
                    list-style-type: none;
                    .TypographyWeightSet, .TypographyFontSet {
                        display: flex;
                        flex-direction: column;
                        gap: 5px;
                    }
                }
            }
        }
    }
}

.StyleGuideSection {
    display: flex;
    > * {
        display: flex;
    }
    .ColorPalette {
        width: 100%;
        .UniversalStyle {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 5px;
            font-family: 'Switzer', sans-serif;
            font-size: 14px;
            width: 100px;
            height: 100px;
            .ColorTitle {
                display: flex;
                justify-content: space-between;
                text-align: right;
            }
        }
        #BrandColor1 {
            background-color: $Black;
            color: $White;
            @extend .UniversalStyle;
        }
        #BrandColor2 {
            @extend .UniversalStyle;
            background-color: $AntiFlashWhite;
            color: $Black;
        }
        #BrandColor3 {
            @extend .UniversalStyle;
            background-color: $White;
            color: $Black;
        }
    }
}

/* @media only screen and (1441px <= width) {
    .BrandContentSection {
        width: calc(100% - 800px);
        margin: 0 auto;
    }
} */

@media only screen and (width <= 768px) {
    .About,
    .StacksAndTools,
    .Mockups,
    .DesignApproach,
    .Branding {
        flex-direction: column;
        align-items: flex-start !important;
        gap: 50px;
    }
}

@media only screen and (769px <= width) {
    .About,
    .StacksAndTools,
    .Mockups,
    .DesignApproach,
    .Branding {
        flex-direction: row;
        align-items: center;
        gap: 125px;
    }
}