@use '../variables' as *;

/* .MainContainer {
    position: absolute;
    top: 80px;
    width: 100%;
    height: calc(100% - 140px);
    flex-direction: column;
    > * {
        display: flex;
    }
    .CTAButtons {
        height: 100%;
        align-items: flex-end;
        .ViewProjects,
        .Contact {
            transition: $Transition-03;
            &:hover {
                transition: $Transition-03;
                img {
                    transform: translateX(5px);
                    transition: $Transition-03;
                }
            }
        }
    }
}
 */
