@use '../mixins' as *;
@use '../variables' as *;

.CTA {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
    gap: 15px;
    > * {
        display: flex;
    }
    p {
        font-family: 'Questa Grande', serif;
        font-style: italic;
        font-size: clamp(2rem, 0.9652rem + 5.174vw, 5.625rem);
        text-transform: uppercase;
        text-align: center;
    }
    div {
        gap: 15px;
        button {
            border: none;
            outline: none;
            border-radius: 40px;
            padding: 10px 20px;
            font-family: 'Anaheim', serif;
            text-transform: uppercase;
            text-decoration: none !important;
            cursor: none;
            a {
                cursor: none;
                font-size: 24px;
                text-decoration: none !important;
            }
        }
    }
}

.CTAAgencyButton {
    font-family: 'Anaheim', serif;
    background-color: $Argent;
    border: 1px solid $Argent;
    color: $SmokyBlack;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 12px;
    transition: $Transition-03;
    border-radius: 40px;
    &:hover {
        background-color: transparent !important;
        border: 1px solid $Argent;
        color: $Argent;
        transition: $Transition-03;
    }
}
.CTAClientButton {
    font-family: 'Anaheim', serif;
    background-color: $Khaki;
    border: 1px solid $Khaki;
    color: $SmokyBlack;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 12px;
    transition: $Transition-03;
    border-radius: 40px;
    &:hover {
        background-color: transparent !important;
        border: 1px solid $Argent;
        color: $Khaki;
        transition: $Transition-03;
    }
}