@use "../variables" as *;

.Cursor {
  width: 12px;
  height: 12px;
  background-color: $Khaki;
  border-radius: 100%;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 9999;
  transition: $Transition-03;
  transition-property: opacity, background-color, transform;
}

.CursorHidden {
  opacity: 0;
}

.CursorClicked {
  width: 10px;
  height: 10px;
  transition: $Transition-03;
  transform: translate(-50%, -50%) scale(0.9);
  background-color: $Khaki;
}

.CursorLinkHovered {
  transform: translate(-50%, -50%) scale(1.25);
  background: none;
  border: 1px solid $Argent;
}
