@use '../variables' as *;

.Footer {
    position: fixed;
    bottom: 0;
    background-color: #000000;
    height: 60px;
    width: 100%;
    align-items: center;
    justify-content: center;
    .SocialIcons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 180px;
        cursor: pointer;
    }
}