@use '../variables' as *;
@use '../mixins' as *;

.FreeResourcesCover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.FreeResourcesSection {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(290px,1fr));
    gap: 10px;
    .ResourcesCard {
        display: flex;
        flex-direction: column;
        gap: 25px;
        img {
            height: 100%;
            width: 100%;
        }
        p {
            @include BodyText;
            text-transform: uppercase;
            text-align: justify;
        }
    }
}

.ResourcesSnapshot {
    flex: 1 1 0px;
    width: 100%;
    height: 100%;
    .ImageSnapshot {
        height: 100%;
        width: 100%;
        border-radius: $ImgBorderRadius;
    }
}

.ResourcesTitle {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Questa Grande', serif;
    font-weight: 400;
    text-transform: uppercase;
    border-top: 1px solid $Argent;
}

.ResourceLinks {
    display: flex;
    gap: 10px;
    .ResourceDownload {
        font-family: 'Anaheim', serif;
        text-transform: uppercase;
        text-decoration: none;
        background-color: $Khaki;
        border-radius: 40px;
        border: 1px solid $Khaki;
        color: $SmokyBlack;
        padding: 5px 10px;
        transition: $Transition-03;
        &:hover {
            background-color: $SmokyBlack;
            color: $Khaki;
            border: 1px solid $SmokyBlack;
            transition: $Transition-03;
        }
    }
}