@use '../variables' as *;

.Nav {
    z-index: 2;
    width: 100%;
    .NavContainer > .NavBar {
        height: 92px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        // padding: 2em;
    }

/*     .MenuToggle {
        cursor: pointer;
    } */

    .NavContainer > .NavOverlay {
        position: fixed;
        background: $Grullo;
        z-index: -2;
        top: 0;
        // left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        //padding: 4em;
        //transition: all 2s cubic-bezier(0.16, 1, 0.3, 1);
        // opacity: 1;
        transition: $Transition-03;
    }

    .MenuToggle > .HamburgerContainer {
        position: relative;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        transition: $Transition-03;
        padding: 2.4em;
        .HamburgerContainerOpen {
            background-color: $Grullo;
        }
    }
}

.LineTop,
.LineBottom {
    margin: 0 auto;
    position: absolute;
    display: block;
    width: 1.5rem;
    height: .125rem;
    border-radius: .625rem;
    background-color: $RaisinBlack-03;
    left: 0;
    right: 0;
    transform: rotate(0deg);
    transition: $Transition-03;
}

.LineTop {
    top: 40px;
}

.LineTop.Spin {
    top: 45px;
    transform: rotate(135deg);
    background-color: $Platinum;
}

.LineBottom {
    bottom: 40px;
}

.LineBottom.Spin {
    bottom: 45px;
    transform: rotate(225deg);
    background-color: $Platinum;
}

.HireCTAHeader {
    font-family: 'Switzer', sans-serif;
    font-size: 21px;
    font-weight: 600;
    padding: 0 10px;
    text-transform: uppercase;
    text-decoration: none;
    color: $RaisinBlack-03;
    transition: $Transition-03;
    cursor: none;
    &:hover {
        transform: translateX(-2px);
        transition: $Transition-03;
    }
}