@use '../variables' as *;

.Navbar {
    display: grid;
    grid-template-columns: 49.25px 62.1px 52px;
    justify-content: space-between;
    background-color: $RaisinBlack-02;
    width: auto;
    height: 80px;
    .HamburgerMenu {
        .NavbarLine {
            width: 34.38px;
            background-color: $White;
            &:first-child {
                top: 30%;
            }
            &:nth-child(2) {
                top: 60%;
            }
            &:nth-child(3) {
                top: 90%;
            }
        }
    }
    .MainLogo {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .HireCTAButton {
        background-color: blue;
    }
}