@use '../variables' as *;

.HomePageSection {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: calc(100vh - 92px);
    // z-index: 2;
    .MainHomeTitle {
        font-family: 'Questa Grande', serif;
        text-transform: uppercase;
        font-weight: 400;
        font-size: clamp(1.5rem, 0.822rem + 3.3898vw, 3.875rem); 
        text-align: center;
        color: $Argent;
        .HeadlineAccent {
            font-size: clamp(2rem, 0.9295rem + 5.3524vw, 5.75rem);
            font-style: italic;
            color: #C5B29A;
        }
        .HeadlineYear {
            font-size: 36px;
        }
    }
    .HomePageProjectLogos {
        background-color: #000;
        border-radius: $ImgBorderRadius;
        img {
            width: 80px;
            height: auto;
        }
    }
}

.ProjectScreens {
    flex-direction: column;
    gap: 10px;
    img {
        border-radius: $ImgBorderRadius;
    }
}