@use '../variables' as *;
@use '../mixins' as *;

.ProjectsTitle {
    display: flex;
    justify-content: center;
    height: calc(100vh - 92px);
    h1 {
        @include HeadingOne;
        justify-content: center;
    }
}


.Projects {
    display: grid !important;
    grid-template-columns: repeat(auto-fit,minmax(290px,1fr));
    gap: 10px;
    padding-bottom: 10px;
    transition: 0.3s all ease-in-out;
    .ProjectSectionLink {
        position: relative;
        height: 100%;
        width: 100%;
        transition: $Transition-03;
        cursor: none;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: $ImgBorderRadius;
            transition: 0.3s all ease-in-out;
        }
        &:hover {
            transition: $Transition-03;
            .ProjectLinkOverlay {
                display: flex;
                transition: $Transition-03;
                text-align: center;
                border-radius: $ImgBorderRadius;
                span {
                    color: $Argent;
                    @include BodyText;
                }
            }
            #BrandProjectLinkOverlay {
                background-color: rgba(255, 255, 255, 0.474);
            }
            #LiteLifeProjectLinkOverlay {
                background-color: rgba(209, 208, 208, 0.554);
            }
            #OceanicaProjectLinkOverlay {
                background-color: #1e2a34d2;
            }
            #MetaverseProjectLinkOverlay {
                background-color: rgb(26 35 46 / 89%);
            }
            #KryptoProjectLinkOverlay {
                background-color: rgb(11 15 47 / 73%);
            }
            .ProjectImage {
                filter: blur(5px);
                transition: $Transition-03;
            }
        }
    }
}

.CursorLinkHovered {
    border: 1px solid $Khaki !important;
}

#BrandProjectLinkOverlay > span,
#LiteLifeProjectLinkOverlay > span {
    color: $RaisinBlack;
}

#CryptoverseProjectSectionLink {
    overflow: hidden;
    > img {
        scale: 1.4;
        overflow: hidden;
    }
} 

#LiteLifeProjectLinkOverlay > .ProjectLogo {
    width: 40px !important;
    height: auto;
}

.ProjectLinkOverlay {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    display: none;
    transition: $Transition-03;
    .ProjectLogo {
        width: 25% !important;
        height: auto !important;
    }
    .ProjectIcons {
        display: flex;
        width: 40px;
        > img {
            width: 100%;
            height: auto;
        }
    }
    button {
        text-transform: uppercase;
        outline: none;
        border: none;
        padding: 10px 20px;
        background-color: $RaisinBlack;
        color: $Argent;
    }
}