@use '../variables' as *;
@use '../mixins' as *;

.Projects {
    display: flex;
    flex-direction: column;
    width: 100%;
    > * {
        display: flex;
    }
    .ProjectCover {
        flex-direction: column;
        height: 100vh;
        justify-content: center;
        h1 {
            @include HeadingOneTitle;
        }
    }
    .ProjectSection {
        flex-direction: column;
        justify-content: center;
        height: max-content;
        color: $RaisinBlack-03;
        .ProjectInfo {
            display: flex;
            flex-direction: column;
            gap: 10px;
            > * {
                display: flex;
            }
            .ProjectTitle {
                @include HeadingTwoProject;
                &::first-letter,
                .FirstLetterAccent {
                    @include HeadingTwoAccentLetter;
                }
                display: flex;
                flex-wrap: wrap;
            }
            .ProjectToolsAndTechStacks {
                display: flex;
                justify-content: space-between;
                font-family: 'Switzer', sans-serif;
                font-weight: 600;
            }
            .ProjectTimeDuration {
                justify-content: flex-end;
                font-size: 18px;
                text-transform: uppercase;
                font-weight: 600;
                font-family: 'Switzer', sans-serif;
            }
            h3 {
                @include HeadingThreeProject;
            }
            .ProjectSummary {
                @include BodyText;
            }
            .DesignBrief {
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
            .DesignBrief > .DesignBriefSummary {
                @include BodyText;
            }
        }
        .Guides {
            display: flex;
            gap: 30px;
            .BrandGuideSection,
            .StyleGuideSection {
                display: flex;
                flex-direction: column;
                flex-basis: 0;
                flex: 1 1 0px;
                gap: 10px;
                h3 {
                    font-family: 'Questa Grande';
                    font-style: normal;
                    font-weight: 400;
                    font-size: clamp(1rem, 0.7143rem + 1.4286vw, 2rem);
                    line-height: 40px;
                    text-transform: uppercase;
                    border-bottom: 1px solid black;
                }
                .KMCTypography {
                    font-family: 'Montserrat', sans-serif;
                }
                .BrandGuideInfo {
                    gap: 20px;
                }
                .BrandGuideInfo > .Typography {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    ul {
                        display: flex;
                        flex-wrap: wrap;
                        list-style-type: none;
                        gap: 10px;
                    }
                }
                .Typography > .TypographyInfo {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    p:first-child,
                    p:nth-child(3) {
                        font-family: 'Switzer', sans-serif;
                        font-weight: 600;
                        font-size: 12px;
                        text-transform: uppercase;
                        border-bottom: 1px solid black;
                        padding: 5px 0;
                    }
                    /* p:nth-child(2),
                    p:last-child {
                        font-family: 'Montserrat', sans-serif;
                    } */
                }
                .TypographyWeightSet,
                .TypographyFontSet {
                    display: flex;
                    flex-direction: column;
                    gap: 2px;
                }
                .Typography,
                .LogoMarks {
                    flex: 1 1 0px;
                }
                .Typography > p {
                    font-family: 'Switzer', sans-serif;
                    font-weight: 600;
                    font-size: 12px;
                    text-transform: uppercase;
                    border-bottom: 1px solid black;
                    padding: 5px 0;
                }
            }
            .BrandGuideSection {
                .BrandGuideInfo {
                    display: flex;
                    flex-wrap: wrap;
                }
            }
            .StyleGuideSection > .ColorPalette {
                display: flex;
                flex-wrap: wrap;
                text-align: left;
                width: 100%;
                color: $White;
                gap: 10px;
                p {
                    font-family: 'Switzer', sans-serif;
                    font-size: 12px;
                    text-transform: lowercase;
                }
                > * {
                    display: flex;
                    flex-direction: column;
                }
                .ColorTitle,
                .ColorInfo {
                    display: flex;
                    justify-content: space-between;
                }
                .ColorTitle {
                    p:first-child {
                        font-weight: 600;
                    }
                    p:last-child {
                        text-align: right;
                    }
                }
                .ColorInfo {
                    flex-direction: column;
                    gap: 5px;
                    span {
                        font-weight: 600;
                    }
                }
                .UniversalStyle {
                    justify-content: space-between;
                    padding: 5px;
                }
                #KMCColor1 {
                    background-color: $ChineseViolet;
                    @extend .UniversalStyle;
                }
                #KMCColor2 {
                    background-color: $MountbattenPink;
                    @extend .UniversalStyle;
                }
                #KMCColor3 {
                    background-color: $AfricanViolet;
                    @extend .UniversalStyle;
                }
                #KMCColor4 {
                    background-color: $Thistle;
                    @extend .UniversalStyle;
                }
                #BrandColor1 {
                    background-color: $Black;
                    @extend .UniversalStyle;
                }
                #BrandColor2 {
                    background-color: #f3f3f3;
                    @extend .UniversalStyle;
                    color: $Black;
                }
                #BrandColor3 {
                    background-color: $White;
                    @extend .UniversalStyle;
                    color: $Black;
                }
                #OceanicaColor1 {
                    background-color: #000000;
                    @extend .UniversalStyle;
                }
                #OceanicaColor2 {
                    background-color: #000408;
                    @extend .UniversalStyle;
                }
                #OceanicaColor3 {
                    background-color: #262C31;
                    @extend .UniversalStyle;
                }
                #OceanicaColor4 {
                    background-color: #68B1C8;
                    @extend .UniversalStyle;
                }
                #OceanicaColor5 {
                    background-color: #838D9B;
                    color: $Black;
                    @extend .UniversalStyle;
                }
                #OceanicaColor6 {
                    background-color: #D9D9D9;
                    color: $Black;
                    @extend .UniversalStyle;
                }
                #OceanicaColor7 {
                    background-color: #FFFFFF;
                    color: $Black;
                    @extend .UniversalStyle;
                }
                #LiteLifeColor1 {
                    background-color: #000000;
                    @extend .UniversalStyle;
                }
                #LiteLifeColor2 {
                    background-color: #d2d2d2;
                    @extend .UniversalStyle;
                    color: $Black;
                }
                #LiteLifeColor3 {
                    background-color: #fafafa;
                    @extend .UniversalStyle;
                    color: $Black;
                }
                #LiteLifeColor4 {
                    background-color: #ffffff;
                    @extend .UniversalStyle;
                    color: $Black;
                }
                #LiteLifeColor5 {
                    background-color: #F50057;
                    @extend .UniversalStyle;
                }
                #LiteLifeColor6 {
                    background-color: #3F51B5;
                    @extend .UniversalStyle;
                }
            }
        }
        .ProjectLinks {
            justify-content: flex-end;
            gap: 10px;
            .ViewFiles {
                display: flex;
                align-items: center;
                font-family: 'Switzer', sans-serif;
                font-size: 16px;
                background: none;
                border: none;
                cursor: pointer;
                a {
                    text-decoration: none;
                    color: $RaisinBlack-03;
                }
                &:hover {
                    transition: $Transition-03;
                    svg {
                        transition: $Transition-03;
                        transform: translateX(2px);
                    }
                }
            }
        }
    }
    .VerticalDivider {
        height: 400px;
        border-right: 1px solid black;
        transform: translateX(-50%);
    }
}

@for $i from 1 through 7 {
    .Color-#{$i} {
        width: 100px;
        height: 100px;
    }
}

/****** LITE LIFE ******/

#LiteLifeTopgraphyFamily,
#LiteLifeTypographyCase,
#LiteLifeTypography-400 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

#LiteLifeProjectLogoMarks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    img {
        width: 25px;
    }
}

/****** KMC BIRMINGHAM ******/

.KMCIcon,
.KMCLogo {
    width: 150px;
}

#KMCLogoMarks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $White;
}

#KMCBrandGuideInfo {
    gap: 20px;
}

#KMCTypographyFamily,
#KMCTypographyCase {
    font-family: 'Montserrat', sans-serif;
}

$KMCWeights: (weight1: 300, weight2: 400, weight3: 500);

@each $key, $weight in $KMCWeights {
    #KMCTypography-#{ $weight } { font-weight: $weight; }
};

/****** OCEANICA ******/

.OceanicaTypography {
    font-family: 'Manrope', sans-serif;
}

.OceanicaIcon {
    width: 75px;
}

.OceanicaLogo {
    width: 235px;
}

#OceanicaGuideInfo {
    gap: 20px !important;
}

#OceanicaTypographyFamily,
#OceanicaTypographyCase {
    font-family: 'Manrope', sans-serif;
}

#OceanicaLogoMarks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    background-color: #000408;
    padding: 10px;
}

#OceanicaGuideInfo .LogoMarks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

$OceanicaWeights: (weight1: 400, weight2: 500, weight3: 600, weight4: 700);

@each $key, $weight in $OceanicaWeights {
    #OceanicaTypography-#{ $weight } {font-weight: $weight; }
};

/****** BRAND ******/

.BrandProjectIcon,
.BrandProjectLogo {
    width: 150px;
}

.BrandProjectTypography {
    font-family: 'Inter', sans-serif;
}

#BrandGuideInfo {
    .LogoMarks {
        display: flex;
        flex-direction: column;
        background-color: lightgray;
        padding: 5px;
        #BrandIcons {
            display: flex;
            gap: 5px;
            #BrandIconWhite,
            #BrandIconBlack {
                height: 40px;
                width: fit-content;
            }
        }
    }
    .Typography > .TypographyInfo {
        p:nth-child(2),
        p:last-child {
            font-family: 'Inter', sans-serif;
        }
    }
}

$BrandWeights: (weight1: 400, weight2: 500, weight3: 600, weight4: 700, weight5: 900);

@each $key, $weight in $BrandWeights {
    #BrandTypography-#{ $weight } { font-weight: $weight; }
};