@use '../variables' as *;

html {
    scroll-behavior: smooth;
}

html, body {
    cursor: none;
}

#root {
    display: flex;
    flex-direction: column;
    > * {
        display: flex;
        cursor: none;
    }
    background-color: #0F0404;
    color: $Argent;
    padding: 0 10px;
    cursor: none;
}

