@use "../variables" as *;

html,
body {
  cursor: none;
}

#root {
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  > * {
    display: flex;
    cursor: none;
  }
  background-color: $SmokyBlack;
  color: $Argent;
  padding: 0 10px;
  cursor: none;
}
