@use "../variables" as *;
@use "../mixins" as *;

.swiper {
  padding: 50px 0;
}

.swiper-pagination-bullet {
  background: $Argent !important;
}

.swiper-pagination-bullet-active {
  background: $Khaki !important;
}

.swiper-pagination-bullets {
  position: relative;
}

.TestimonialCard {
  > div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 24px;
    border: 1px solid $Khaki;
    border-radius: $ImgBorderRadius;
    .HorizontalDivider {
      width: 95px;
    }
  }
  .TestimonialName {
    font-family: "Questa Grande", serif;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    font-size: clamp(1.125rem, 0.875rem + 1.25vw, 2rem);
  }
  .TestimonialQuote {
    @include BodyText;
    text-transform: uppercase;
    text-align: justify;
  }
  .TestimonialTitle {
    font-family: "Anaheim", serif;
    text-transform: uppercase;
    text-align: justify;
  }
}

.TestimonialsCover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 92px);
}

.TestimonialsSection {
  height: 100vh;
  align-items: center;
}

.TestimonialsPageTitle {
  display: flex;
  flex-direction: column;
  font-family: "Questa Grande", serif;
  font-style: italic;
  font-weight: 400;
  font-size: clamp(2.625rem, -2.6221rem + 16.7906vw, 12.5rem);
  text-align: center;
  text-transform: uppercase;
  color: $Argent;
}

.TestimonialImage {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}
