@use '../variables' as *;
@use '../mixins' as *;

.swiper-pagination-bullet-active {
    background: $RaisinBlack-03 !important;
}

.swiper-pagination-bullets {
    position: relative;
    top: 4px;
}

.TestimonialCard {
    > div {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 24px;
        .HorizontalDivider {
            width: 95px;
        }
    }
    .TestimonialName {
        font-family: 'Questa Grande', serif;
        font-style: normal;
        font-weight: 400;
        text-transform: uppercase;
        font-size: clamp(1.125rem, 0.875rem + 1.25vw, 2rem);
    }
    .TestimonialQuote {
        @include BodyText;
    }
    .TestimonialTitle {
        @include SubtitleText;
    }
}

.TestimonialsCover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.TestimonialsSection {
    height: 100vh;
    align-items: center;
}

.PageHeaderTitle {
    display: flex;
    flex-direction: column;
    font-family: 'Questa Grande', serif;
    font-style: normal;
    font-weight: 400;
    font-size: clamp(2.875rem, 0.125rem + 13.75vw, 12.5rem);
    // line-height: 160px;
    text-align: right;
    text-transform: lowercase;
    color: $RaisinBlack-03;
}

.TestimonialImage {
    width: 100px;
    height: 100px;
    border-radius: 100%;
}