.splideSlide {
  height: 100%;
  width: 100%;

  @media only screen and (width <=48rem) {
    height: 30dvh;
  }
}

.image {
  object-fit: cover;
  width: 100%;

  @media only screen and (width <=48rem) {
    object-fit: contain;
  }
}