@import     '../_partials/typography',
            '../_partials/variables';

/* NAV BAR TOGGLE BUTTON */

/* NAV MENU */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 0.5rem 1.5rem;
    .navbar-links {
        width: 100%;
        a {
            text-decoration: none;
        }
        li {
            list-style-type: none;
            font-size: 1.25rem;
        }
        ul {
            display: flex;
            justify-content: space-between;
        }
    }
}