@import     '../_partials/typography',
            '../_partials/variables';

/* NAV BAR TOGGLE BUTTON */

/* NAV MENU */

.navbar {
    display: $flex-display;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 0.5rem 1.5rem;
    .navbar-links {
        .menu-link, .sub-menu {
            text-decoration: none;
            &:after {
                content: "";
                position: relative;
                bottom: -1px;
                left: 0;
                top: 2px;
                width: 0;
                height: 1px;
                display: flex;
                background: #926c15;
                transition: $transition-03;
            }
            &:hover {
                transition: $transition-03;
                &:after {
                    width: 75%;
                }
            }
        }
        width: 100%;
        li {
            list-style-type: none;
            font-size: 1.25rem;
        }
        ul {
            display: $flex-display;
            justify-content: space-between;
        }
        > ul > li > ul {
            flex-direction: column;
            position: $absolute-position;
            opacity: 0;
            &:hover {
                opacity: 1 !important;
            }
            .dropdown-line {
                border-right: 1px solid #000;
                height: 3.75rem;
                position: $absolute-position;
                top: 0.3125rem;
                left: 0.625rem;
            }
            li {
                position: $relative-position;
                left: 1.3rem;
            }
            li:nth-child(2) {
                padding: 0.75rem 0;
            }
        }
    }
}




/*
.navbar-links ul li:after {
    content: "";
    background: #000;
    height: 90px;
    width: 30%;
    top: -40px;
    left: -60px;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: right;
}

.navbar-links ul li:hover:after {
    transform: scaleX(1);
    transform-origin: left;
}
*/