.aboutContainer {
  position: relative;
}

.container {
  position: relative;
}

.title {
  margin-bottom: 2.8125rem;
}

.aboutSummary {
  margin-bottom: 3.75rem;
  margin-left: auto;
  max-width: 50rem;
  width: 100%;
}

.logo {
  left: 0;
  opacity: 0.05;
  position: absolute;
  transform: translateX(-50%);
}