.aboutContainer {
  position: relative;
}

.arrowDown {
  margin-bottom: 14.375rem;
  margin-left: calc(100dvw / 7);

  @media only screen and (width <=48rem) {
    margin: 0 auto;
  }
}

.container {
  position: relative;
}

.title {
  margin-bottom: 2.8125rem;
}

.logo {
  left: 0;
  opacity: 0.05;
  position: absolute;
  transform: translateX(-50%);
}