@use './variables' as *;

* {
    margin: 0;
    padding: 0;
    &:is(&::after, &::before, *) {
        box-sizing: border-box;
    }
    outline: 1px red solid;
}

.MainContainer {
    background-color: $RaisinBlack-01;
}