@use "./variables" as *;

@mixin HeadingOneTitle {
  font-family: $HeadingFont;
  font-style: normal;
  font-weight: 400;
  font-size: clamp(4.25rem, -9.5rem + 24.4444vw, 12.5rem);
  text-align: right;
  text-transform: uppercase;
  color: $Argent;
}

@mixin HeadingOne {
  display: flex;
  flex-direction: column;
  font-family: $HeadingFont;
  font-style: italic;
  font-weight: 400;
  font-size: clamp(2.875rem, 0.125rem + 13.75vw, 12.5rem);
  text-align: center;
  text-transform: uppercase;
  color: $Argent;
}

/* @mixin HeadingTwoAccentLetter {
  font-family: "Monsieur La Doulaise", cursive;
  font-style: normal;
  font-size: clamp(2.25rem, 1.205rem + 3.8vw, 4.625rem);
  font-weight: 400;
  line-height: 4.6875rem;
} */

@mixin HeadingTwoProject {
  font-family: $HeadingFont;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  border-bottom: 0.0625rem solid red;
}

@mixin HeadingThreeProject {
  font-family: $HeadingFont;
  font-style: normal;
  font-weight: 400;
  font-size: clamp(1rem, 0.7143rem + 1.4286vw, 2rem);
  text-transform: uppercase;
}

@mixin MainBody {
  display: flex;
  flex-direction: column;
  max-width: 120rem;
  width: 100%;
  margin: 0 auto;
}

@mixin BodyText {
  font-family: $BodyFont;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  text-transform: uppercase;
}

@mixin ProjectStructure {
  .Projects {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

@mixin HeadlineStyle {
  flex-direction: column;
  gap: 0.625rem;
  border-top: 0.0625rem solid $Argent;
  > * {
    display: flex;
  }
  h2 {
    font-family: $HeadingFont;
    font-style: normal;
    font-weight: 400;
    font-size: clamp(1.5rem, 0.7864rem + 3.5682vw, 4rem);
    text-transform: uppercase;
    color: $Argent;
  }
}
