@use './variables' as *;

@mixin HeadingOneTitle {
    font-family: 'Questa Grande', serif;
    font-style: normal;
    font-weight: 400;
    font-size: clamp(4.25rem, -9.5rem + 24.4444vw, 12.5rem);
    // line-height: 160px;
    text-align: right;
    text-transform: lowercase;
    color: $Onyx;
}

@mixin HeadingTwoAccentLetter {
    font-family: 'Monsieur La Doulaise', cursive;
    font-style: normal;
    font-weight: 400;
    line-height: 75px;
}

@mixin HeadingTwoProject {
    font-family: 'Questa Grande', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 60px;
    border-bottom: 1px solid $BlackChocolate;
}

@mixin HeadingThreeProject {
    font-family: 'Questa Grande', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    text-transform: uppercase;
}

@mixin SubtitleText {
    font-family: 'Switzer', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
}

@mixin BodyText {
    font-family: 'Switzer', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
}