/****** WIDE - 1440px+ ******/

@media only screen and (1441px <= width) {
  .ProjectSection {
    height: 100vh;
  }
  .ProjectInfo {
    width: 1110px;
    margin: 0 auto;
    padding: 40px 0;
  }
  .MainHomeTitle {
    font-size: 128px;
  }
  .Guides {
    justify-content: space-between;
  }
}

/****** DESKTOP - 1025PX -> 1440px ******/

@media only screen and (1025px <= width <= 1440px) {
  .ProjectSection {
    height: 100vh;
  }
  .ProjectInfo {
    padding: 40px 165px;
  }
  .Guides {
    justify-content: space-between;
  }
}

/****** TABLET (LARGE) - 745px --> 1024px ******/

@media only screen and (745px <= width <= 1024px) {
  .ProjectSection {
    height: 100vh;
  }
  .ProjectInfo {
    padding: 32px;
  }
  .Guides {
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
  }
}

/****** TABLET (SMALL) - 376px --> 744px ******/

@media only screen and (376px <= width <= 744px) {
  .ProjectSection {
    height: 100vh;
  }
  .ProjectInfo {
    padding: 24px;
  }
  .Guides {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
}

/****** TABLET (SMALL) - 0px -> 375px ******/

@media only screen and (width <= 375px) {
  .ProjectInfo {
    padding: 24px;
  }
  .ProjectCover h1{
    font-size: 72px !important;
  }
  .Guides {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  .CTAButtons {
    flex-direction: column;
    justify-content: flex-start;
  }

  /* .NavLinks > .NavItems > a {
    font-size: 32px;
  }

  .NavLinks {
    padding-top: 40px !important;
  } */

  .SocialLinkNames {
    height: auto;
    text-align: right;
    .NavFooterSocialLinks {
      flex-direction: column;
    }
  }
}

/*********************************************************************/

@media screen and (min-width: 375px) {
    .MainHomeTitle {
      font-size: calc(64px + 6 * ((100vw - 320px) / 680));
    }
  }

@media screen and (max-width: 600px) {
  .MainContainer {
      flex-direction: column !important;
  }
  .MainHomeTitle {
      font-size: calc(72px + 6 * ((100vw - 320px) / 680));
  }

  .CTAButtons > button {
      font-size: 21px;
  }
}

@media screen and (min-width: 1440px) {
  .MainHomeTitle {
      font-size: clamp(112px, 10vw, 32px);
  }
}