/****** WIDE - 1440px+ ******/

@media only screen and (1441px <= width) {
    #root {
        background-color: red;
    }
}

/****** DESKTOP - 1025PX -> 1440px ******/

@media only screen and (1025px <= width <= 1440px) {
    #root {
        background-color: yellow;
    }
}

/****** TABLET (LARGE) - 745px --> 1024px ******/

@media only screen and (745px <= width <= 1024px) {
    #root {
        background-color: blue;
    }
}

/****** TABLET (SMALL) - 376px --> 744px ******/

@media only screen and (376px <= width <= 744px) {
    #root {
        background-color: bisque;
    }
}

/****** TABLET (SMALL) - 0px -> 375px ******/

@media only screen and (width <= 375px) {
    #root {
        background-color: darkgreen;
    }
}