/****** WIDE - 1440px+ ******/

@media only screen and (1441px <= width) {

}

/****** DESKTOP - 1025PX -> 1440px ******/

@media only screen and (1025px <= width <= 1440px) {

}

/****** TABLET (LARGE) - 745px --> 1024px ******/

@media only screen and (745px <= width <= 1024px) {

}

/****** TABLET (SMALL) - 376px --> 744px ******/

@media only screen and (376px <= width <= 744px) {

}

/****** TABLET (SMALL) - 0px -> 375px ******/

@media only screen and (width <= 375px) {

}

@media screen and (min-width: 375px) {
    .MainHomeTitle {
      font-size: calc(64px + 6 * ((100vw - 320px) / 680));
    }
  }

  @media screen and (max-width: 600px) {
    .MainContainer {
        flex-direction: column !important;
    }
    .MainHomeTitle {
        font-size: calc(72px + 6 * ((100vw - 320px) / 680));
    }
  }

  @media screen and (min-width: 1000px) {
    .MainHomeTitle {
        font-size: clamp(112px, 10vw, 32px);     }
  }