@use './variables' as *;

/****** MONSIEUR LA DOULAISE - 400 REGULAR ******/

@font-face {
    font-family: 'Monsieur La Doulaise';
    font-weight: 400;
    font-style: normal;
    src:    url('../assets/fonts/Monsieur_La_Doulaise/MonsieurLaDoulaise-Regular.woff') format('woff'),
            url('../assets/fonts/Monsieur_La_Doulaise/MonsieurLaDoulaise-Regular.woff2') format('woff2');
    font-display: swap;
}

/****** QUESTA GRANDE - 400 REGULAR ******/

@font-face {
    font-family: 'Questa Grande';
    font-weight: 400;
    font-style: normal;
    src:    url('../assets/fonts/questagrande_regular_macroman/2-questa_grande_regular_31-webfont.woff') format('woff'),
            url('../assets/fonts/questagrande_regular_macroman/2-questa_grande_regular_31-webfont.woff2') format('woff2');
    font-display: swap;
}

/****** SWITZER - 200 EXTRA LIGHT ******/

@font-face {
    font-family: 'Switzer';
    font-weight: 200;
    font-style: normal;
    src:    url('../assets/fonts/Switzer_Complete/Fonts/WEB/fonts/Switzer-Extralight.woff') format('woff'),
            url('../assets/fonts/Switzer_Complete/Fonts/WEB/fonts/Switzer-Extralight.woff2') format('woff2');
    font-display: swap;
}

/****** SWITZER - 100 LIGHT ******/

@font-face {
    font-family: 'Switzer';
    font-weight: 100;
    font-style: normal;
    src:    url('../assets/fonts/Switzer_Complete/Fonts/WEB/fonts/Switzer-Thin.woff') format('woff'),
            url('../assets/fonts/Switzer_Complete/Fonts/WEB/fonts/Switzer-Thin.woff') format('woff2');
    font-display: swap;
}

/****** MONTSERRAT - 500 MEDIUM ******/

@font-face {
    font-family: 'Montserrat';
    font-weight: 500;
    font-style: normal;
    src:    url('../assets/fonts/Montserrat/Montserrat-Medium.woff') format('woff'),
            url('../assets/fonts/Montserrat/Montserrat-Medium.woff2') format('woff2');
    font-display: swap;
}

/****** MONTSERRAT - 400 REGULAR ******/

@font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    font-style: normal;
    src:    url('../assets/fonts/Montserrat/Montserrat-Regular.woff') format('woff'),
            url('../assets/fonts/Montserrat/Montserrat-Regular.woff2') format('woff2');
    font-display: swap;
}

/****** MONTSERRAT - 300 LIGHT ******/

@font-face {
    font-family: 'Montserrat';
    font-weight: 300;
    font-style: normal;
    src:    url('../assets/fonts/Montserrat/Montserrat-Light.woff') format('woff'),
            url('../assets/fonts/Montserrat/Montserrat-Light.woff2') format('woff2');
    font-display: swap;
}

#AccentLetter {
    font-family: 'Monsieur La Doulaise', cursive;
    text-transform: capitalize;
    font-size: 128px;
    color: $White;
}

.MainHomeTitle {
    font-family: 'Questa Grande', serif;
    text-transform: uppercase;
    font-weight: 400;
    text-align: right;
    color: $White;
    font-variant-caps: all-small-caps;
    &::first-letter {
        font-family: 'Monsieur La Doulaise', cursive;
        text-transform: capitalize;
    }
}

/* .PageHeaderTitle {
    font-family: 'Questa Grande', serif;
    font-weight: 400;
    font-size: 200px;
    text-align: right;
    color: $Onyx;
}

#AboutPageTitle1 {
    margin-left: 53px;
}

#AboutPageTitle2 {
    margin-left: 532px;
}

.PageSubTitleText {
    font-family: 'Questa Grande', serif;
    font-weight: 400;
    font-size: 32px;
    color: $White;
    text-transform: uppercase;
    margin-top: -145px;
}

.AboutText {
    font-family: 'Switzer', sans-serif;
    font-weight: 100;
    font-size: 32px;
    line-height: 42.24px;
    color: $White;
    &::first-letter {
        font-family: 'Monsieur La Doulaise';
        font-size: 128px;
    }
} */