/****** COLORS ******/

$Black: #000000;
$BlackChocolate: #1B150D;
$Grullo: #AC9E93;
$Canvas: #F9F8F4;
$RaisinBlack-01: rgba(34, 34, 34, 1);
$RaisinBlack-02: #262222;
$RaisinBlack-03: #222222;
$PineTree: #2C2723;
$Onyx: #373737;
$White: #ffffff;
$Timberwolf: #D9D6CF;
$Platinum: #e2e4e5;

$ChineseViolet: #856187;
$MountbattenPink: #98719D;
$AfricanViolet: #B594C3;
$Thistle: #D0BDDB;
$Timberwolf: #DBDAD5;

/****** TRANSITIONS ******/

$Transition-03: all 0.3s ease-in;