/****** COLORS ******/

$Black: #000000;
$SmokyBlack: #0D0C0B;
$Coffee: #744D2E;
$Khaki: #C5B29A;
$Argent: #C6C0C4;

$VampireBlack: #0F0404;
$ChineseBlack-01: #181716;
$ChineseBlack-02: #151515;
$RaisinBlack: #222222;

/****** STYLES ******/

$ImgBorderRadius: 10px;

/****** TRANSITIONS ******/

$Transition-03: all 0.3s ease-in;