/****** COLORS ******/

$Black: #000000;

$Grullo: #AC9E93;
$Khaki: #C5B29A;
$VampireBlack: #0F0404;
$ChineseBlack-01: #181716;
$ChineseBlack-02: #151515;
$RaisinBlack: #222222;

$Platinum: #e2e4e5;

$Argent: #C6C0C4;

$AntiFlashWhite: #f3f3f3;

$ChineseViolet: #856187;
$MountbattenPink: #98719D;
$AfricanViolet: #B594C3;
$Thistle: #D0BDDB;
$Timberwolf: #DBDAD5;

$RichBlack: #010922;
$CetaceanBlue: #0b0f2f;
$DeepKoamaru: #312964;
$Ceil: #8f88db;
$MiddleBlueGreen: #86cfd0;
$Crystal: #aed4db;
$BrighGray: #ebebeb;

/****** STYLES ******/

$ImgBorderRadius: 10px;

/****** TRANSITIONS ******/

$Transition-03: all 0.3s ease-in;