@use "../../../styles/index.scss" as *;

.container {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 3.75rem;
  justify-content: space-between;
  list-style-type: none;

  @media only screen and (max-width: 48rem) {
    align-items: flex-start;
    flex-direction: column;
    gap: 1.25rem;
    width: 100%;
  }
}

.date {
  @include h4;
}

.separator {
  background-color: $Khaki;
  border-radius: 50%;
  height: .3125rem;
  margin: 1.25rem 0;
  width: .3125rem;

  @media only screen and (max-width: 48rem) {
    display: none;
  }
}

.award {
  @include accent;
}

.body {
  @include body-large;
}

.li {
  align-items: center;
  display: flex;

  &:not(:last-child) {
    &::after {
      color: $Khaki;
      content: '⋅';
      font-size: 3rem;
      margin-left: 3.75rem;
    }
  }

  @media only screen and (max-width: 48rem) {
    &:not(:last-child) {
      &::after {
        display: none;
      }
    }
  }
}