@use "../_partials/variables" as *;
@use "../_partials/mixins" as *;

.ErrorPage {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: calc(100vh - 4.8125rem);
  gap: 0.625rem;
  h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: $HeadingFont;
    font-style: italic;
    font-weight: 400;
    font-size: clamp(2.875rem, 0.125rem + 13.75vw, 12.5rem);
    text-align: center;
    text-transform: uppercase;
    color: $Argent;
  }
  .ErrorPageContainer {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    > * {
      display: flex;
    }
    h2 {
      @include HeadingThreeProject;
      font-size: clamp(1.3125rem, 1.1161rem + 0.9821vw, 2rem);
    }
    p {
      @include BodyText;
    }
    .ReturnHomeButton {
      font-family: $BodyFont;
      text-transform: uppercase;
      text-decoration: none;
      background-color: $Khaki;
      border-radius: 2.5rem;
      border: 0.0625rem solid $Khaki;
      color: $SmokyBlack;
      padding: 0.3125rem 0.625rem;
      transition: $Transition-03;
      width: min-content;
      cursor: none;
      &:hover {
        background-color: $SmokyBlack;
        color: $Khaki;
        border: 0.0625rem solid $Khaki;
        transition: $Transition-03;
      }
    }
  }
}
