@use "../_partials/variables" as *;
@use "../_partials/mixins" as *;

.AboutCover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 5.75rem);
  .PageHeaderTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Questa Grande", serif;
    font-style: italic;
    font-weight: 400;
    font-size: clamp(2.875rem, 0.125rem + 13.75vw, 12.5rem);
    text-align: center;
    text-transform: uppercase;
    color: $Argent;
  }
}
.AboutSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.875rem;
  > * {
    display: flex;
  }

  .AboutContent {
    gap: 1.25rem;
    flex-direction: column;
    justify-content: flex-start;
    #DesignSkills {
      justify-content: center;
      text-align: center;
    }
    #TechSkills {
      justify-content: space-between;
      text-align: center;
    }
    .ExperienceList {
      display: flex;
      justify-content: flex-start;
      gap: 1.5625rem;
      font-family: "Questa Grande", sans-serif;
      font-size: clamp(1.125rem, 1.0179rem + 0.5357vw, 1.5rem);
      text-align: left;
      text-transform: uppercase;
    }
    .AboutText {
      font-family: "Anaheim", sans-serif;
      font-size: clamp(1rem, 0.9108rem + 0.446vw, 1.3125rem);
      text-transform: uppercase;
      text-align: justify;
    }
    .AboutExperience {
      display: flex;
      flex-direction: column;
      gap: 0.625rem;
      border-top: 0.0625rem solid $Argent;
      padding-bottom: 0.625rem;
      h3 {
        font-family: "Questa Grande", serif;
        font-style: normal;
        font-weight: 400;
        font-size: clamp(1.5rem, 0.7864rem + 3.5682vw, 4rem);
        text-transform: uppercase;
        color: $Argent;
      }
      .ExperienceContainer {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(16.5625rem, 1fr));
        gap: 0.625rem;
        .ExperienceSection {
          display: flex;
          flex-direction: column;
          gap: 0.625rem;
          padding: 0.625rem;
          font-family: "Anaheim", serif;
          text-transform: uppercase;
          text-align: justify;
          color: $Argent;
          border: 0.0625rem solid $Khaki;
          border-radius: $ImgBorderRadius;
          .ExperienceDate {
            font-family: "Anaheim", sans-serif;
            font-size: 1.3125rem;
            padding-left: 0.3125rem;
          }
          .ExperienceTitle {
            border: 0.0625rem solid $Khaki;
            border-radius: 2.5rem;
            font-size: 1.125rem;
            padding: 0.625rem 0.875rem;
            background-color: $Khaki;
            color: $Black;
            text-align: left;
          }
          .ExperienceInfo {
            .ListDot {
              display: flex;
              width: 0.3125rem;
              height: 0.3125rem;
              background-color: $Argent;
              border-radius: 50%;
            }
          }

          ul {
            padding-left: 1.25rem;
          }
          .ExperienceSkills {
            display: flex;
            flex-wrap: wrap;
            gap: 0.625rem;
            span {
              padding: 0.625rem;
              border: 0.0625rem solid $Khaki;
              border-radius: 2.5rem;
            }
          }
        }
        .WorkLinks {
          display: flex;
          border: 0.0625rem solid $Khaki;
          outline: none;
          width: min-content;
          border-radius: 2.5rem;
          padding: 0.625rem 0.825rem;
          font-family: "Anaheim", serif;
          text-transform: uppercase;
          text-decoration: none;
          color: $SmokyBlack;
          background-color: $Khaki;
          transition: all 0.3s ease-in;
          cursor: none;
          &:hover {
            background-color: transparent;
            border: 0.0625rem solid $Khaki;
            color: $Khaki;
            -webkit-transition: all 0.3s ease-in;
            transition: all 0.3s ease-in;
          }
          &:focus {
            outline: 2px solid $Argent;
          }
        }
      }
    }
  }
}
