@use "../_partials/mixins" as *;
@use "../_partials/variables" as *;

.CTA {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 90rem;
  width: 100%;
  margin: 0 auto;
  height: 31.25rem;
  gap: 0.9375rem;
  > * {
    display: flex;
  }
  p {
    font-family: "Questa Grande", serif;
    font-style: italic;
    font-size: clamp(2rem, 0.9652rem + 5.174vw, 5.625rem);
    text-transform: uppercase;
    text-align: center;
  }
  div {
    gap: 0.9375rem;
    button {
      border: none;
      outline: none;
      border-radius: 2.5rem;
      padding: 0.625rem 1.25rem;
      font-family: "Anaheim", serif;
      text-transform: uppercase;
      text-decoration: none !important;
      cursor: none;
      a {
        cursor: none;
        font-size: 1.5rem;
        text-decoration: none !important;
      }
    }
  }
}

.CTAAgencyButton {
  display: flex;
  align-items: center;
  font-family: "Anaheim", serif;
  background-color: $Argent;
  border: 0.0625rem solid $Argent;
  color: $SmokyBlack;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.625rem;
  transition: $Transition-03;
  border-radius: 2.5rem;
  cursor: none;
  &:hover {
    background-color: transparent !important;
    border: 0.0625rem solid $Argent;
    color: $Argent;
    transition: $Transition-03;
  }
}
.CTAClientButton {
  display: flex;
  align-items: center;
  font-family: "Anaheim", serif;
  background-color: $Khaki;
  border: 0.0625rem solid $Khaki;
  color: $SmokyBlack;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.3125rem 0.75rem;
  transition: $Transition-03;
  border-radius: 2.5rem;
  cursor: none;
  &:hover {
    background-color: transparent !important;
    border: 0.0625rem solid $Argent;
    color: $Khaki;
    transition: $Transition-03;
  }
}
