@use "../_partials/variables" as *;

.Cursor {
  width: 0.75rem;
  height: 0.75rem;
  background-color: $Khaki;
  border-radius: 100%;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 9999;
  transition: $Transition-03;
  transition-property: opacity, background-color, transform;
}

.CursorHidden {
  opacity: 0;
}

.CursorClicked {
  width: 0.625rem;
  height: 0.625rem;
  transition: $Transition-03;
  transform: translate(-50%, -50%) scale(0.9);
  background-color: $Khaki;
}

.CursorLinkHovered {
  transform: translate(-50%, -50%) scale(1.25);
  background: none;
  border: 0.0625rem solid $Argent;
}

@media only screen and (width <= 64rem) {
  .Cursor {
    display: none;
  }
}
