@use "../_partials/variables" as *;

.Footer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-top: 0.0625rem solid $Argent;
  padding: 2.1875rem 0;
  flex-wrap: wrap;
  gap: 0.9375rem;
  align-items: center;
  .Copyright {
    color: $Argent;
    text-transform: uppercase;
    font-family: $BodyFont;
  }
  .SocialIcons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.625rem;
    a {
      display: flex;
      color: $Argent;
      cursor: none;
      transition: $Transition-03;
      &:hover {
        transform: translateY(-0.3125rem);
        transition: $Transition-03;
      }
    }
  }
}
