@use "../_partials/variables" as *;

.Nav {
  z-index: 2;
  width: 100%;
  .NavContainer > .NavBar {
    height: 5.75rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .NavContainer > .NavOverlay {
    position: fixed;
    background: $SmokyBlack;
    z-index: -2;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: $Transition-03;
  }

  .MenuToggle > .HamburgerContainer {
    position: relative;
    width: 0.9375rem;
    height: 0.9375rem;
    border-radius: 50%;
    transition: $Transition-03;
    padding: 2.4em;
  }
}

.MenuToggle {
  display: inline-block;
  border: none;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1;
  background: transparent;
  cursor: none;
  &:focus-visible {
    outline: 0.125rem solid $Khaki;
    border-radius: 0.3125rem;
  }
}

.HomePageLogoLink {
  cursor: none;
}

.LineTop,
.LineBottom {
  margin: 0 auto;
  position: absolute;
  display: block;
  width: 1.5rem;
  height: 0.125rem;
  border-radius: 0.625rem;
  background-color: $Argent;
  left: 0;
  right: 0;
  transform: rotate(0deg);
  transition: $Transition-03;
  &:hover {
    background-color: $Khaki;
  }
}

.LineTop {
  top: 45%;
}

.LineTop.Spin {
  top: 2.3125rem;
  transform: rotate(135deg);
  background-color: $Argent;
}

.LineBottom {
  top: 53%;
}

.LineBottom.Spin {
  top: 2.3125rem;
  transform: rotate(225deg);
  background-color: $Argent;
}

.HireCTAHeader {
  border: 0.0625rem solid $Khaki;
  outline: none;
  border-radius: 2.5rem;
  padding: 0.3125rem 0.625rem;
  font-family: $BodyFont;
  font-size: 1.3125rem;
  text-transform: uppercase;
  text-decoration: none;
  color: $VampireBlack;
  background-color: $Khaki;
  transition: $Transition-03;
  cursor: none;
  &:hover {
    background-color: transparent;
    border: 0.0625rem solid $Khaki;
    color: $Khaki;
    transition: $Transition-03;
  }
  &:focus-visible {
    outline: 0.125rem solid $Argent !important;
  }
}
