@use "../_partials/mixins" as *;
@use "../_partials/variables" as *;

.HomePageSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3.4375rem;
  height: calc(100dvh - 4.8125rem);
  padding-bottom: 50px;
  .AwardsSection {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14.0625rem, 1fr));
    justify-content: center;
    justify-items: center;
    max-width: 37.1875rem;
    width: 100%;
    margin: 0 auto;
    cursor: none;
    a {
      cursor: none;
    }
  }
  .MainHomeTitle {
    font-family: $HeadingFont;
    text-transform: uppercase;
    font-weight: 400;
    font-size: clamp(2rem, 0.0536rem + 9.7321vw, 15.625rem);
    text-align: center;
    color: $Argent;
    .HeadlineAccent {
      font-size: clamp(2rem, 0.9295rem + 5.3524vw, 5.75rem);
      font-style: italic;
      color: $Khaki;
    }
    .HeadlineYear {
      font-size: clamp(1.3125rem, 1.0449rem + 1.3381vw, 2.25rem);
    }
  }
  .HomePageImage {
    width: 100%;
    height: 100%;
  }
  .HomePageProjectLogos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(7.8125rem, 1fr));
    justify-items: center;
    align-items: center;
    gap: 1.25rem;
    background-color: $ChineseBlack-02;
    border-radius: $ImgBorderRadius;
    padding: 0.9375rem 0;
    img {
      width: 50%;
      height: auto;
      opacity: 0.6;
      &:nth-child(5) {
        height: 4.0625rem;
      }
    }
  }
}

.PictureContainer img {
  width: 100%;
  height: auto;
  border-radius: $ImgBorderRadius;
}

.HomePageProjectTitle {
  margin-top: 0.625rem;
}

.SkillsOffered {
  display: grid !important;
  grid-template-columns: repeat(auto-fit, minmax(16.5625rem, 1fr));
  gap: 0.625rem;
  padding: 0.625rem 0;
  .SkillBox {
    border-radius: 0.625rem;
    background: $ChineseBlack-01;
    border: 0.0625rem solid $Khaki;
    display: grid;
    grid-gap: 0.625rem;
    gap: 0.625rem;
    padding: 1.5625rem;
    padding: 1.25rem;
    p:first-child {
      font-family: $HeadingFont;
      font-size: clamp(1.3125rem, 1.1162rem + 0.9813vw, 2rem);
      text-transform: uppercase;
    }
    p:nth-child(2) {
      font-family: $BodyFont;
      text-transform: uppercase;
      text-align: justify;
    }
    .SkillBoxTopRow {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0.625rem;
      border-bottom: 0.0625rem solid $Khaki;
      padding-bottom: 0.625rem;
    }
  }
}

.ProjectScreens {
  @include HeadlineStyle;
  flex-direction: column;
  gap: 0.625rem;
  .HomePageSectionBar {
    align-items: center;
    justify-content: space-between;
  }
  .ProjectLink {
    position: relative;
    align-items: center;
    justify-content: center;
    transition: $Transition-03;
    cursor: none;
    > img {
      width: 100%;
      height: 68.75rem;
      object-fit: cover;
      border-radius: $ImgBorderRadius;
      transition: $Transition-03;
      margin-bottom: 0.625rem;
    }
    &:hover .LinkOverlay {
      display: flex;
      z-index: 5;
      transition: $Transition-03;
    }
    &:hover {
      transition: $Transition-03;
    }
  }
  .ProjectTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 0.0625rem solid $Argent;
    padding: 0.625rem 0;
    h3 {
      font-family: $HeadingFont;
      font-weight: 400;
      font-style: normal;
      font-size: 1.3125rem;
      text-transform: uppercase;
    }
  }
}

.ProjectsContainer {
  display: grid;
  grid-template-areas:
    "a b"
    "c d"
    "e f";
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 0.625rem;
}

@media (max-width: 37.5rem) {
  .ProjectsContainer {
    grid-template-areas:
      "a"
      "b"
      "c"
      "d"
      "e"
      "f";
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
  }
  .AwardsSection {
    gap: 0.625rem;
  }
  .CSSWinnerBadge,
  .FrontendMentorBadge {
    width: 8.125rem;
    height: auto;
  }
}

@media only screen and (width >= 37.5rem) {
  .CSSWinnerBadge,
  .FrontendMentorBadge {
    width: 12.5rem;
    height: auto;
  }
}

.AllProjectsLink,
.HomePageProjectLinks {
  display: flex;
  cursor: none;
  transition: $Transition-03;
  &:hover {
    transform: rotate(45deg);
    transition: $Transition-03;
  }
}

.LinkOverlay {
  position: absolute;
  height: 100%;
  width: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: #000000de;
  transition: $Transition-03;
  > img {
    height: 3.125rem;
    width: 3.125rem;
    object-fit: contain;
    transition: $Transition-03;
  }
}

@media only screen and (width <= 43.75rem) {
  .ProjectLink > img {
    height: 13.4375rem !important;
  }
  .SkillLozenges {
    display: none !important;
  }
}
