@use "../_partials/variables" as *;

.NavOverlay {
  > * {
    display: flex;
  }
}

.NavItems {
  font-size: clamp(2.375rem, 1.6607rem + 3.5714vw, 4.875rem);
}

.NavLinks {
  flex-direction: column;
  gap: 10px;
  font-family: $HeadingFont;
  font-size: 96px;
  padding-right: 20px;
  list-style-type: none;
}

.NavItems > a {
  text-decoration: none;
  text-transform: uppercase;
  color: $Argent;
  transition: $Transition-03;
  cursor: none;
  &:hover {
    transition: $Transition-03;
    color: $Khaki;
    padding-left: 8px;
  }
}

.NavOverlay {
  opacity: 0;
  position: absolute;
  background: $SmokyBlack;
  left: 0;
  top: 5rem;
  padding-left: 0.625rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: $Transition-03;
}

.NavOverlayOpen {
  opacity: 1;
  z-index: 2;
  display: block;
  transition: $Transition-03;
}

[data-state="no-js"] .NavOverlay {
  display: none;
}
