@use "../_partials/variables" as *;

.NavOverlay {
  display: flex;
  flex-direction: column;
  > * {
    display: flex;
  }
  .NavLinks {
    flex-direction: column;
    gap: 0.625rem;
    font-family: $HeadingFont;
    font-size: 6rem;
    padding-top: 5.75rem;
    padding-right: 1.25rem;
    list-style-type: none;
    .NavItems {
      // font-size: clamp(1.5rem, -0.8936rem + 7.6596vw, 6rem);
      //font-size: clamp(2.625rem, 1.875rem + 3.75vw, 5.25rem);
      font-size: clamp(2.375rem, 1.6607rem + 3.5714vw, 4.875rem);
      // border-top: 0.0625rem solid $Argent;
    }
    .NavItems > a {
      text-decoration: none;
      text-transform: uppercase;
      color: $Argent;
      transition: $Transition-03;
      cursor: none;
      &:hover {
        transition: $Transition-03;
        color: $Khaki;
        padding-left: 0.5rem;
      }
    }
  }
  .NavScreenFooter > .SocialLinkNames {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    padding: 0.625rem 0;
    > * {
      display: flex;
    }
    /*  .NavFooterSocialLinks {
      width: 28.125rem;
      justify-content: space-between;
      list-style-type: none;
      font-family: "Switzer", sans-serif;
      text-transform: uppercase;
      li {
        transition: $Transition-03;
        &:hover {
          transform: translateY(-0.125rem);
          transition: $Transition-03;
        }
        a {
          text-decoration: none;
          color: $Argent;
        }
      }
    } */
  }
}
