@use "../_partials/mixins" as *;
@use "../_partials/variables" as *;

.Project {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  > * {
    display: flex;
  }
  .ProjectHero {
    height: 100%;
    width: 100%;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: $ImgBorderRadius;
    }
  }
  .ProjectLinks {
    justify-content: space-between;
    gap: 2.8125rem;
  }
  .ProjectAbout {
    flex-direction: column;
    gap: 0.625rem;
    border-top: 0.0625rem solid $Argent;
    > * {
      display: flex;
    }
    h2 {
      font-family: "Questa Grande", serif;
      font-style: normal;
      font-weight: 400;
      font-size: clamp(1.5rem, 0.7864rem + 3.5682vw, 4rem);
      text-transform: uppercase;
      color: $Argent;
    }
    .ProjectDateAndType,
    .ProjectStacksAndTools,
    .ProjectLozenges {
      justify-content: space-between;
      font-family: "Anaheim", serif;
      text-transform: uppercase;
      font-size: clamp(1rem, 0.9108rem + 0.446vw, 1.3125rem);
    }
    .ProjectLozenge {
      border: 0.0625rem solid $Argent;
      border-radius: 2.5rem;
      padding: 0.625rem 1.25rem;
    }
    .ProjectAboutContent {
      font-family: "Anaheim", serif;
      font-size: clamp(1rem, 0.9108rem + 0.446vw, 1.3125rem);
      text-align: justify;
      text-transform: uppercase;
      flex-direction: column;
      gap: 10px;
      ul {
        margin-left: 25px;
      }
    }
    .ProjectStacksAndTools {
      flex-wrap: wrap;
      gap: 0.625rem;
      span {
        display: flex;
        flex-wrap: wrap;
        gap: 0.625rem;
        &:nth-child(2) {
          justify-content: flex-end;
        }
      }
      .StackToolLozenge {
        align-items: center;
        justify-content: center;
        text-align: center;
        border: 0.0625rem solid $Khaki;
        border-radius: 3.125rem;
        padding: 0.625rem;
      }
    }
    #SingleRowStacksAndTools {
      flex-wrap: nowrap;
    }
  }
  .OceanicaPrototypes {
    border-radius: $ImgBorderRadius;
  }
  .DesignDecisions,
  .ProjectTypefaces,
  .ProjectAssetsAndBranding,
  .ProjectMockups,
  .ProjectPrototypes,
  .ProjectScreens {
    @extend .ProjectAbout;
    .ProjectTypefaceInfo {
      display: flex;
      align-items: flex-end;
      flex-wrap: wrap;
      gap: 1.25rem;
      #BrandTypeface {
        font-family: "Inter", sans-serif;
        &:first-child {
          font-size: clamp(1.5rem, -3.781rem + 26.405vw, 20rem);
        }
      }
      #LiteLifeTypeface {
        font-family: "Roboto", sans-serif;
        &:first-child {
          font-size: clamp(1.5rem, -3.781rem + 26.405vw, 20rem);
        }
      }
      #OceanicaTypeface {
        font-family: "Manrope", sans-serif;
        &:first-child {
          font-size: clamp(1.5rem, -3.781rem + 26.405vw, 20rem);
        }
      }
      #CryptoverseTypeface {
        font-family: "Noto Sans", sans-serif;
        &:first-child {
          font-size: clamp(1.5rem, -3.781rem + 26.405vw, 20rem);
        }
        > #Weight-200 {
          display: none !important;
        }
      }
      #CalculatorTypeface {
        @extend #BrandTypeface;
      }
      .TypefaceWeights {
        display: flex;
        flex-direction: column;
        gap: 0.9375rem;
        font-size: 1.125rem;
        .TypefaceWeightsList {
          display: flex;
          flex-wrap: wrap;
          list-style-type: none;
          gap: 0.625rem;
        }
      }
    }
  }
  .ProjectAssetsAndBranding {
    display: flex;
    > * {
      display: flex;
    }
    #OceanicaAssetsAndBrandingContainer {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(14.0625rem, 1fr));
      background-color: #47513f6b;
    }
    .ProjectAssetsAndBrandingContainer {
      background-color: #3b3a3acc;
      padding: 0.625rem;
      border-radius: $ImgBorderRadius;
      gap: 0.625rem;
      #LiteLifeAssets {
        display: grid !important;
        grid-template-columns: repeat(auto-fit, minmax(7.5rem, 1fr)) !important;
        > img {
          object-fit: cover;
          border-radius: $ImgBorderRadius;
        }
      }
      .AssetsAndBranding {
        display: flex;
        flex-direction: column;
        gap: 0.625rem;
        width: 100%;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
        .LiteLifeColorPalette {
          width: 50%;
          height: auto;
        }
      }
    }
  }

  .ProjectScreens > img {
    border-radius: $ImgBorderRadius;
  }
}

/****** BRAND WEIGHTINGS ******/

$BrandWeights: (
  weight1: 400,
  weight2: 500,
  weight3: 600,
  weight4: 700,
  weight5: 900,
);

@each $key, $weight in $BrandWeights {
  #Weight-#{ $weight } {
    font-weight: $weight;
  }
}

/****** CRYPTOVERSE WEIGHTINGS ******/

$CryptoverseWeights: (
  weight1: 200,
  weight2: 300,
  weight3: 400,
);

@each $key, $weight in $CryptoverseWeights {
  #Crypto-Weight-#{ $weight } {
    font-weight: $weight;
  }
}

/****** CALCULATOR WEIGHTINGS ******/

$CalculatorWeights: (
  weight1: 400,
  weight2: 500,
  weight3: 700,
);

@each $key, $weight in $CalculatorWeights {
  #Calculator-Weight-#{ $weight } {
    font-weight: $weight;
  }
}

@media only screen and (width <= 23.4375rem) {
  .ProjectLinks {
    flex-direction: column;
    align-items: center;
    gap: 0.625rem !important;
  }
}

@media only screen and (width <= 46.75rem) {
  #LiteLiteAssetsAndBranding {
    flex-direction: column;
  }
  .ProjectStacksAndTools {
    display: none !important;
  }
}
