@use "../_partials/mixins" as *;
@use "../_partials/variables" as *;

.SkillLozenges {
  bottom: 1.25rem;
  display: flex;
  position: absolute;
  width: 100%;
  justify-content: space-between;
  font-family: "Anaheim", serif;
  text-transform: uppercase;
  padding: 0 0.625rem 0 0.625rem;
  .SkillLozenge {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $ChineseBlack-01;
    color: $Argent;
    border: 0.0625rem solid $Argent;
    border-radius: 2.5rem;
    padding: 0.625rem 1.25rem;
    font-size: 1rem;
  }
}
