@use "../_partials/variables" as *;
@use "../_partials/mixins" as *;

.TestimonialCard {
  > div {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding: 1.5rem;
    border: 0.0625rem solid $Khaki;
    border-radius: $ImgBorderRadius;
    .HorizontalDivider {
      width: 5.9375rem;
    }
    .TestimonialName {
      font-family: $HeadingFont;
      font-style: normal;
      font-weight: 400;
      text-transform: uppercase;
      font-size: clamp(1.125rem, 0.875rem + 1.25vw, 2rem);
    }
    .TestimonialQuote {
      @include BodyText;
      text-transform: uppercase;
      text-align: justify;
    }
    .TestimonialTitle {
      font-family: $BodyFont;
      text-transform: uppercase;
    }
  }
}

.TestimonialsCover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 5.75rem);
}

.TestimonialsSection {
  height: 100vh;
  align-items: center;
}

.TestimonialsPageTitle {
  display: flex;
  flex-direction: column;
  font-family: $HeadingFont;
  font-style: italic;
  font-weight: 400;
  font-size: clamp(2.625rem, -2.6221rem + 16.7906vw, 12.5rem);
  text-align: center;
  text-transform: uppercase;
  color: $Argent;
}

.TestimonialImage {
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 100%;
}
