@use "../../../scss/index.scss" as *;

.Nav {
  width: 100%;
  z-index: 2;

  .NavBar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.MainLogo {
  display: flex;
}

.MenuToggle {
  background: transparent;
  border: none;
  border-radius: 50%;
  cursor: none;
  display: inline-block;
  font-size: 1rem;
  height: 0.9375rem;
  line-height: 1;
  margin: 0;
  padding: 2.4em;
  position: relative;
  transition: all 0.3s ease-in;
  width: 0.9375rem;

  &:focus-visible {
    border-radius: 0.3125rem;
    outline: 0.125rem solid $Khaki;
  }
}

.HomePageLogoLink {
  cursor: none;
}

.LineTop {
  top: 45%;
}

.LineBottom {
  top: 53%;
}

.LineTop,
.LineBottom {
  &:hover {
    background-color: $Khaki;
  }

  background-color: $Argent;
  border-radius: 0.625rem;
  display: block;
  height: 0.125rem;
  left: 0;

  margin: 0 auto;
  position: absolute;
  right: 0;
  transform: rotate(0deg);
  transition: $Transition-03;
  width: 1.5rem;

}


.LineTop.Spin {
  background-color: $Argent;
  top: 2.3125rem;
  transform: rotate(135deg);
}


.LineBottom.Spin {
  background-color: $Argent;
  top: 2.3125rem;
  transform: rotate(225deg);
}

.HireCTAHeader {
  background-color: $Khaki;
  border: 0.0625rem solid $Khaki;
  border-radius: 2.5rem;
  cursor: none;
  font-family: $BodyFont;
  font-size: 1.125rem;
  height: fit-content;
  outline: none;
  padding: 0.3125rem 0.625rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: $Transition-03;

  &:hover {
    background-color: transparent;
    border: 0.0625rem solid $Khaki;
    color: $Khaki;
    transition: $Transition-03;
  }

  &:focus-visible {
    outline: 0.125rem solid $Argent !important;
  }
}