@use "../../../styles/index.scss" as *;

.container {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  gap: 3.75rem;
  list-style-type: none;

  &:not(:last-child) {
    margin-bottom: 3.75rem;
  }

  @include queries(md) {
    flex-direction: column;
    gap: 1.25rem;

    &:not(:last-child) {
      margin-bottom: 3.25rem;
    }
  }
}

.containerInner {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: .9375rem;
}

.containerInnerHeader {
  align-items: center;
  display: grid;
  gap: 3.625rem;
  grid-template-columns: auto auto;

  @include queries(md) {
    gap: 1.25rem;
    grid-template-columns: auto;
  }
}

.containerOuter {
  margin: 0 auto;
  max-width: 75rem;
  width: 100%;
}

.dateContainer {
  display: flex;
  flex-direction: row;
  gap: .625rem;
}

.stacks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
}

.stack {
  &:not(:last-child) {
    &::after {
      content: ',';
    }

    margin-right: .625rem;
  }
}