@use "../../../styles/index.scss" as *;

.ErrorPage {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  height: calc(100dvh - 4.8125rem);
  justify-content: space-around;

  h1 {
    color: $Argent;
    display: flex;
    flex-direction: column;
    font-family: $HeadingFont;
    font-size: clamp(2.875rem, 0.125rem + 13.75vw, 12.5rem);
    font-style: italic;
    font-weight: 400;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
  }

  .ErrorPageContainer {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;

    >* {
      display: flex;
    }

    h2 {
      @include HeadingThreeProject;
      font-size: clamp(1.3125rem, 1.1161rem + 0.9821vw, 2rem);
    }

    p {
      @include BodyText;
    }

    .ReturnHomeButton {
      background-color: $Khaki;
      border: 0.0625rem solid $Khaki;
      border-radius: 2.5rem;
      color: $SmokyBlack;
      cursor: none;
      font-family: $BodyFont;
      padding: 0.3125rem 0.625rem;
      text-decoration: none;
      text-transform: uppercase;
      transition: $Transition-03;
      width: min-content;

      &:hover {
        background-color: $SmokyBlack;
        border: 0.0625rem solid $Khaki;
        color: $Khaki;
        transition: $Transition-03;
      }
    }
  }
}