@use "../../../styles/index.scss" as *;

.errorPage {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  height: calc(100dvh - 4.8125rem);
  justify-content: space-around;

  .errorPageContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    justify-content: center;

    & h2 {
      max-width: 68.75rem;
      text-align: center;
      width: 100%;
    }

    >* {
      display: flex;
    }
  }

}

.text {
  display: flex;
  flex-direction: row;
  gap: .25rem;
}