@use "../../styles/index.scss" as *;

.mainContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 120rem;
  padding: 0 .625rem;
  width: 100%;
}

.container {
  position: relative;
}

.pageHeader {
  position: relative;
}

.gridContainer {
  border-bottom: .0625rem solid $Khaki;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;

  @include queries(md) {
    grid-template-columns: 1fr;
  }
}

.headerContainer {
  height: 60dvh;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);

  @include queries(sm) {
    height: 80dvh;
    width: 100%;
  }
}

.headerImage {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.verticalDivider {
  background-color: $Khaki;
  height: 100%;
  left: 50%;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  width: .0625rem;

  @media only screen and (width < 55rem) {
    display: none;
  }
}

.gridItem {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 50dvh;
  padding: 1.25rem;

  &:not(:last-child) {
    border-bottom: .0625rem solid $Khaki;
  }
}

.imageContainer {
  height: 100%;
  width: 100%;
}

.image {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.gridContent {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  justify-content: center;
}