<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link 
        rel="icon" 
        type="image/x-icon" 
        href="${require('./src/assets/images/logos/Favicon-Light-Mode-Version.svg')}"
        media="(prefers-color-scheme: dark)">

    <link 
        rel="icon" 
        type="image/x-icon" 
        href="${require('./src/assets/images/logos/Favicon-Dark-Mode-Version.svg')}"
        media="(prefers-color-scheme: light)">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="<%= htmlWebpackPlugin.options.author %>">
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <div id="root"></div>
</body>
</html>