<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/x-icon" href="{ %=o.htmlWebpackPlugin.files.favicon% }">
    <meta name="msvalidate.01" content="0423AE2CFB46C4E4956A53CD0DC4FB72" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="<%= htmlWebpackPlugin.options.author %>">
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <div id="root"></div>
</body>
</html>