@use '_partials/globals' as *;
@use '_partials/mixins' as *;
@use '_partials/responsive' as *;
@use '_partials/typography' as *;
@use '_partials/variables' as *;

@use '_partials/_components/root' as *;
@use '_partials/_components/header' as *;
@use '_partials/_components/body' as *;
@use '_partials/_components/footer' as *;