@use "./mixins" as *;
@use "./variables" as *;

* {
  margin: 0;
  padding: 0;
  &:is(&::after, &::before, *) {
    box-sizing: border-box;
  }
  // outline: 0.0625rem solid red;
}

html {
  background-color: $SmokyBlack;
}

::-webkit-scrollbar {
  width: 0.625rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 0.625rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.625rem;
  background-color: $RaisinBlack;
}

.CTAButtons {
  height: fit-content;
  display: flex;
  flex-direction: row;
  > * {
    display: flex;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.MainContainer {
  @include MainBody;
}

.ProjectButton {
  border: 0.0625rem solid $Argent;
  outline: none;
  background-color: $Argent;
  color: $SmokyBlack;
  border-radius: 2.5rem;
  padding: 0.625rem 1.25rem;
  font-family: $BodyFont;
  text-transform: uppercase;
  text-decoration: none;
  transition: $Transition-03;
  &:hover {
    background-color: transparent;
    color: $Argent;
    border: 0.0625rem solid $Argent;
    transition: $Transition-03;
    cursor: none;
  }
  &:focus {
    outline: 0.125rem solid $Khaki;
  }
}
