@use "../variables/index.module.scss" as *;

@mixin h1 {
  color: $Khaki;
  font-family: $Cardillac;
  font-size: clamp(4rem, 1.675rem + 11.625vw, 15.625rem);
  font-weight: 300;
  text-transform: uppercase;
}

@mixin h2 {
  color: $Khaki;
  font-family: $Newsreader;
  font-size: clamp(3.25rem, 2.5714rem + 3.3929vw, 8rem);
  font-style: italic;
  font-weight: 300;
  line-height: 1.5;
  text-transform: lowercase;
}

@mixin h3 {
  color: $Argent;
  font-family: $Cardillac;
  font-size: clamp(1.75rem, 1.4464rem + 1.5179vw, 3.875rem);
  font-weight: 300;
  line-height: 1.5;
  text-transform: uppercase;
}

@mixin h4 {
  color: $Argent;
  font-family: $Cardillac;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.2;
  text-transform: uppercase;
}

@mixin accent {
  color: $Khaki;
  font-family: $Cardillac;
  font-size: clamp(1.5rem, 1.3rem + 1vw, 2.5rem);
  font-weight: 300;
  text-transform: uppercase;
}

@mixin subtitle {
  color: $Argent;
  font-family: Newsreader, serif;
  font-size: clamp(1.3125rem, 1.125rem + 0.9375vw, 2.25rem);
  text-transform: lowercase;
}

@mixin body-large {
  color: $Argent;
  font-family: $Newsreader;
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: lowercase;
}