@media screen and (max-width: 600px) {
    #left-divider {
        display: none;
    }
    #site-title {
        font-size: 42px;
        padding: 10px 30px;
    }
    .top-section {
        #subheading {
            padding: 0;
        }
    }
}

@media screen and (max-width: 560px) {
    #connect-panel a {
        padding-inline: 30px;
    }
}