/* == DISCLAIMER ==

The following fonts are used under the personal, non-commercial license:
    -   The Billion
    -   Oatmeal Sans
*/

@import 'variables';

/****** THE BILLION - 300 LIGHT ******/

@font-face {
    font-family: 'The Billion';
    font-weight: 300;
    src:    url('/src/assets/fonts/The Billion.woff') format('woff'),
            url('/src/assets/fonts/The Billion.woff2') format('woff2');
    font-display: swap;
}

/****** OATMEAL SANS - 400 REGULAR ******/

@font-face {
    font-family: 'Oatmeal Sans';
    src:    url('/src/assets/fonts/Oatmeal\ Sans.woff') format('woff'),
            url('/src/assets/fonts/Oatmeal\ Sans.woff2') format('woff2');
    font-display: swap;
}

/****** TYPOGRAPHY ASSIGNMENT ******/

h1 {
    font-family: 'The Billion', cursive;
    font-weight: 200;
    font-size: 64px;

}

h2 {
    font-family: 'Oatmeal Sans', sans-serif;
    font-size: 32px;
    font-weight: 200;
}

body, p, span, a {
    font-family: 'Oatmeal Sans', sans-serif;
    color: $main-color-02;
}