/****** COLORS ******/

$main-color-01: #1d3557;
$main-color-02: #737373;
$main-color-03: #99582a;
$background-color: #faedcd;

$text-color: #283618;;

$btn-color: #1e1e1e;
$btn-color-hover: #545454;

/****** POSITIONING ******/

$flex-display: flex;
$absolute-position: absolute;
$relative-position: relative;

/****** TRANSITIONS & ANIMATIONS ******/

$transition-03: all 0.3s ease-in-out;
$transition-05: all 0.5s ease-in-out;